src/coreComponents/fileIO/schema/gpac_new.xsd

<?xml version="1.1" encoding="ISO-8859-1" ?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
 <xsd:annotation>
  <xsd:documentation xml:lang="en">
   New schema for GEOS
  </xsd:documentation>
 </xsd:annotation>


<!-- Special Type Definitions -->
<xsd:complexType name="DirectiveType">
</xsd:complexType>


<!-- Boundary Condition Definitions -->
<xsd:complexType name="BoundaryConditionType">
  <xsd:attribute name="component" type="xsd:integer"/>
  <xsd:attribute name="fieldName" type="xsd:string"/>
  <xsd:attribute name="fieldType" type="xsd:string"/>
  <xsd:attribute name="setNames" type="xsd:string"/>
  <xsd:attribute name="object" type="xsd:string"/>
  <xsd:attribute name="direction" type="xsd:string"/>
  <xsd:attribute name="scale" type="xsd:double"/>
  <xsd:attribute name="timeTable" type="xsd:string"/>
  <xsd:attribute name="toRegion" type="xsd:string"/>
  <xsd:attribute name="startTime" type="xsd:double"/>
  <xsd:attribute name="endTime" type="xsd:double"/>
</xsd:complexType>

<xsd:complexType name="BoundaryConditionFunctionType">
  <xsd:attribute name="component" type="xsd:integer"/>
  <xsd:attribute name="fieldName" type="xsd:string"/>
  <xsd:attribute name="fieldType" type="xsd:string"/>
  <xsd:attribute name="variables" type="xsd:string"/>
  <xsd:attribute name="variableTypes" type="xsd:string"/>
  <xsd:attribute name="setNames" type="xsd:string"/>
  <xsd:attribute name="object" type="xsd:string"/>
  <xsd:attribute name="direction" type="xsd:string"/>
  <xsd:attribute name="function" type="xsd:string"/>
  <xsd:attribute name="toRegion" type="xsd:string"/>
  <xsd:attribute name="startTime" type="xsd:double"/>
  <xsd:attribute name="endTime" type="xsd:double"/>
</xsd:complexType>

<xsd:complexType name="BoundaryConditionsType">
  <xsd:choice minOccurs="0" maxOccurs="unbounded">
    <xsd:element name="BoundaryCondition" type="BoundaryConditionType" />
    <xsd:element name="BoundaryConditionFunction" type="BoundaryConditionFunctionType" />     
  </xsd:choice>
</xsd:complexType>



<!-- Contact Definitions -->
<xsd:complexType name="PenaltyCoulombType">
  <xsd:attribute name="aperture" type="xsd:double"/>
  <xsd:attribute name="normalApproachYield" type="xsd:double"/>
  <xsd:attribute name="stressYield" type="xsd:double"/>
</xsd:complexType>

<xsd:complexType name="ContactType">
  <xsd:choice>
    <xsd:element name="PenaltyCoulomb" type="PenaltyCoulombType"/>
  </xsd:choice>

  <!--tolerance-->
  <xsd:attribute name="penetrationTol" type="xsd:double"/>
  
  <!--options-->
  <xsd:attribute name="active" type="xsd:integer"/>
  <xsd:attribute name="implicitActive" type="xsd:integer"/>
  <xsd:attribute name="threeDTrue" type="xsd:integer"/>
  
  <!--ChoiceOfMethod-->
  <xsd:attribute name="NitscheFlag" type="xsd:integer"/>
  
  <!--MethodParameters-->
  <xsd:attribute name="penaltyNormal" type="xsd:double"/>
  <xsd:attribute name="penaltyTau1" type="xsd:double"/>
  <xsd:attribute name="penaltyTau2" type="xsd:double"/>
  <xsd:attribute name="tractionCutoff" type="xsd:double"/>
  
  <!--Stick/SlipBehavior-->
  <xsd:attribute name="slidingLaw" type="xsd:integer"/>
  <xsd:attribute name="frictionCoefficient" type="xsd:double"/>
</xsd:complexType>



<!-- Element Regions Definitions -->
<xsd:complexType name="LinearElasticMaterialType">
  <xsd:attribute name="bulkModulus" type="xsd:double"/>
  <xsd:attribute name="density" type="xsd:double"/>
  <xsd:attribute name="shearModulus" type="xsd:double"/>
</xsd:complexType>

<xsd:complexType name="ElementRegionType">
  <xsd:choice>
    <xsd:element name="LinearElasticMaterial" type="LinearElasticMaterialType"/>
  </xsd:choice>
  <xsd:attribute name="name" type="xsd:string"/>
  <xsd:attribute name="elementType" type="xsd:string"/>
  <xsd:attribute name="hgDamp" type="xsd:double"/>
  <xsd:attribute name="hgStiff" type="xsd:double"/>
</xsd:complexType>   

<xsd:complexType name="ElementRegionsType">
  <xsd:sequence>
    <xsd:element name="ElementRegion" type="ElementRegionType" minOccurs="0" maxOccurs="unbounded"/>
  </xsd:sequence>
</xsd:complexType>



<!-- Fracture Definitions -->
<xsd:complexType name="FractureType">
  <xsd:attribute name="fractureFlag" type="xsd:integer"/>
  <xsd:attribute name="preFractureSetName" type="xsd:string"/>
  <xsd:attribute name="failCriterion" type="xsd:integer"/>
  <xsd:attribute name="failStress" type="xsd:double"/>
  <xsd:attribute name="rockToughness" type="xsd:double"/>
  <xsd:attribute name="maxKinkAngle" type="xsd:double"/>
  <xsd:attribute name="maxTurnAngle" type="xsd:double"/>
  <xsd:attribute name="failGap" type="xsd:double"/>
  <xsd:attribute name="separableSet" type="xsd:string"/>
  <xsd:attribute name="allowVacuumFrac" type="xsd:integer"/>
  <xsd:attribute name="dfnPrefix" type="xsd:string"/>
</xsd:complexType>



<!-- Initial Conditions Definitions -->
<xsd:complexType name="ConstantInitialConditionType">
  <xsd:attribute name="toRegions" type="xsd:string"/>
  <xsd:attribute name="fieldName" type="xsd:string"/>
  <xsd:attribute name="fieldType" type="xsd:string"/>
  <xsd:attribute name="setNames" type="xsd:string"/>
  <xsd:attribute name="object" type="xsd:string"/>
  <xsd:attribute name="value" type="xsd:string"/>
  <xsd:attribute name="additive" type="xsd:string"/>
</xsd:complexType>

<xsd:complexType name="InitialConditionFunctionType">
  <xsd:attribute name="toRegions" type="xsd:string"/>
  <xsd:attribute name="fieldName" type="xsd:string"/>
  <xsd:attribute name="fieldType" type="xsd:string"/>
  <xsd:attribute name="setNames" type="xsd:string"/>
  <xsd:attribute name="object" type="xsd:string"/>
  <xsd:attribute name="function" type="xsd:string"/>
  <xsd:attribute name="variables" type="xsd:string"/>
  <xsd:attribute name="variableTypes" type="xsd:string"/>
  <xsd:attribute name="additive" type="xsd:string"/>
</xsd:complexType>

<xsd:complexType name="InitialConditionTableType">
  <xsd:attribute name="toRegions" type="xsd:string"/>
  <xsd:attribute name="fieldName" type="xsd:string"/>
  <xsd:attribute name="fieldType" type="xsd:string"/>
  <xsd:attribute name="setNames" type="xsd:string"/>
  <xsd:attribute name="object" type="xsd:string"/>
  <xsd:attribute name="table" type="xsd:string"/>
  <xsd:attribute name="additive" type="xsd:string"/>
</xsd:complexType>

<xsd:complexType name="InitialConditionsType">
  <xsd:choice minOccurs="0" maxOccurs="unbounded">
    <xsd:element name="CalculateFaceNormals" type="DirectiveType" />
    <xsd:element name="CalculateFaceCenters" type="DirectiveType" />
    <xsd:element name="ConstantInitialCondition" type="ConstantInitialConditionType" />
    <xsd:element name="InitialConditionFunction" type="InitialConditionFunctionType" />
    <xsd:element name="InitialConditionTable" type="InitialConditionTableType"/>
  </xsd:choice>
</xsd:complexType>



<!-- Initial Constitutive Definitions -->
<xsd:complexType name="ConstitutiveType">
  <xsd:attribute name="object" type="xsd:string" use="required"/>
  <xsd:attribute name="propertyType" type="xsd:string" use="required"/>
  <xsd:attribute name="tableName" type="xsd:string"/>
  <xsd:attribute name="value" type="xsd:double"/>
  <xsd:attribute name="toRegion" type="xsd:string"/>
</xsd:complexType>

<xsd:complexType name="InitialConstitutiveValuesType">
  <xsd:sequence>
    <xsd:element name="InitialConstitutiveValue" type="ConstitutiveType" minOccurs="0" maxOccurs="unbounded"/>
  </xsd:sequence>
</xsd:complexType>



<!-- Joint Set Definitions -->
<xsd:complexType name="JointSetType">
  <xsd:attribute name="name" type="xsd:string"/>
  <xsd:attribute name="toRegions" type="xsd:string"/>
  <xsd:attribute name="type" type="xsd:string"/>
  <xsd:attribute name="mu" type="xsd:double"/>
  <xsd:attribute name="mu_stdev" type="xsd:double"/>
  <xsd:attribute name="cohesion" type="xsd:double"/>
  <xsd:attribute name="cohesion_stdev" type="xsd:double"/>
  <xsd:attribute name="strike" type="xsd:double"/>
  <xsd:attribute name="strike_stdev" type="xsd:double"/>
  <xsd:attribute name="dip" type="xsd:double"/>
  <xsd:attribute name="dip_stdev" type="xsd:double"/>
  <xsd:attribute name="strikeLength" type="xsd:double"/>
  <xsd:attribute name="strikeLength_stdev" type="xsd:double"/>
  <xsd:attribute name="aspectRatio" type="xsd:double"/>
  <xsd:attribute name="aspectRatio_stdev" type="xsd:double"/>
  <xsd:attribute name="normalSpacing" type="xsd:double"/>
  <xsd:attribute name="normalSpacing_stdev" type="xsd:double"/>
  <xsd:attribute name="dipParallelSpacing" type="xsd:double"/>
  <xsd:attribute name="dipParallelSpacing_stdev" type="xsd:double"/>
  <xsd:attribute name="strikeParallelSpacing" type="xsd:double"/>
  <xsd:attribute name="strikeParallelSpacing_stdev" type="xsd:double"/>
  <xsd:attribute name="jointDensity" type="xsd:double"/>
  <xsd:attribute name="seed" type="xsd:unsignedInt"/>
  <xsd:attribute name="orientationDistribution" type="xsd:string"/>
</xsd:complexType>

<xsd:complexType name="JointsType">
  <xsd:sequence>
    <xsd:element name="JointSet" type="JointSetType" minOccurs="0" maxOccurs="unbounded"/>
  </xsd:sequence>
</xsd:complexType>



<!-- Mesh Definition -->
<xsd:complexType name="InternalMesh">
  <xsd:attribute name="nx" type="xsd:string"/>
  <xsd:attribute name="ny" type="xsd:string"/>
  <xsd:attribute name="nz" type="xsd:string"/>
  <xsd:attribute name="xCoords" type="xsd:string"/>
  <xsd:attribute name="yCoords" type="xsd:string"/>
  <xsd:attribute name="zCoords" type="xsd:string"/>
  <xsd:attribute name="xBias" type="xsd:string"/>
  <xsd:attribute name="yBias" type="xsd:string"/>
  <xsd:attribute name="zBias" type="xsd:string"/>
  
  <xsd:attribute name="elementType" type="xsd:string"/>
  <xsd:attribute name="regionNames" type="xsd:string"/>
  <xsd:attribute name="perturbationFactor" type="xsd:double"/>
  <xsd:attribute name="perturbationSeed" type="xsd:integer"/>
  <xsd:attribute name="mapToRadial" type="xsd:integer"/>
  <xsd:attribute name="trianglePattern" type="xsd:integer"/>
  <xsd:attribute name="skewAngle" type="xsd:double"/>
</xsd:complexType>

<xsd:complexType name="MeshFile">
  <xsd:attribute name="file" type="xsd:string"/>
</xsd:complexType>

<xsd:complexType name="PAMELAMeshGenerator">
  <xsd:attribute name="file" type="xsd:string"/>
</xsd:complexType>

<xsd:complexType name="MeshesType">
  <xsd:sequence>
    <xsd:element name="InternalMesh" type="InternalMesh" minOccurs="0" maxOccurs="unbounded"/>
    <xsd:element name="MeshFile" type="MeshFile" minOccurs="0" maxOccurs="unbounded"/>
    <xsd:element name="PAMELAMeshGenerator" type="PAMELAMeshGenerator" minOccurs="0" maxOccurs="unbounded"/>
  </xsd:sequence>
</xsd:complexType>



<!-- Nodeset Definitions -->
<xsd:complexType name="NodesetType">
  <xsd:attribute name="name" type="xsd:string"/>
  <xsd:attribute name="type" type="xsd:int"/>
  <xsd:attribute name="xMin" type="xsd:string"/>
  <xsd:attribute name="xMax" type="xsd:string"/>
  <xsd:attribute name="point1" type="xsd:string"/>
  <xsd:attribute name="point2" type="xsd:string"/>
  <xsd:attribute name="radius" type="xsd:double"/>
  <xsd:attribute name="strikeAngle" type="xsd:double"/>
</xsd:complexType>

<xsd:complexType name="NodesetsType">
  <xsd:choice minOccurs="0" maxOccurs="unbounded">
    <xsd:element name="Nodeset" type="NodesetType" />
  </xsd:choice>
</xsd:complexType>



<!-- Output Definitions -->
<xsd:complexType name="OutputType">
  <xsd:attribute name="writePlot" type="xsd:int"/>
  <xsd:attribute name="writeRestart" type="xsd:int"/>
  <xsd:attribute name="restartInterval" type="xsd:double"/>
  <xsd:attribute name="plotInterval" type="xsd:double"/>
  <xsd:attribute name="plotFileRoot" type="xsd:string"/>
  <xsd:attribute name="slaveDirectory" type="xsd:string"/>
  <xsd:attribute name="parallelThreads" type="xsd:integer"/>
  <xsd:attribute name="writeFEMEdges" type="xsd:integer"/>
  <xsd:attribute name="writeFEMFaces" type="xsd:integer"/>
  <xsd:attribute name="writeXFEM" type="xsd:integer"/>
  <xsd:attribute name="fieldsToPlot" type="xsd:string"/>
  <xsd:attribute name="maxWallTime" type="xsd:double"/>
</xsd:complexType>



<!-- Parameter Definitions -->
<xsd:complexType name="ParameterType">
  <xsd:attribute name="name" type="xsd:string" use="required"/>
  <xsd:attribute name="value" type="xsd:string" use="required"/>
</xsd:complexType>

<xsd:complexType name="ParametersType">
  <xsd:choice minOccurs="0" maxOccurs="unbounded">
    <xsd:element name="Parameter" type="ParameterType"/>
  </xsd:choice>
</xsd:complexType>




<!-- Partition Definitions -->
<xsd:complexType name="SpatialPartitionType">
  <xsd:attribute name="xPar" type="xsd:integer"/>
  <xsd:attribute name="yPar" type="xsd:integer"/>
  <xsd:attribute name="zPar" type="xsd:integer"/>
</xsd:complexType>

<xsd:complexType name="PartitionType">
  <xsd:choice>
    <xsd:element name="SpatialPartition" type="SpatialPartitionType" minOccurs="0" maxOccurs="1"/>
  </xsd:choice>
</xsd:complexType>




<!-- Solver Application Definitions -->
<xsd:complexType name="ApplyType">
  <xsd:attribute name="solver" type="xsd:string"/>
  <xsd:attribute name="toRegions" type="xsd:string"/>
</xsd:complexType>

<xsd:complexType name="ApplicationType">
  <xsd:choice minOccurs="0" maxOccurs="unbounded">
    <xsd:element name="Apply" type="ApplyType" />
  </xsd:choice>
  <xsd:attribute name="name" type="xsd:string"/>
  <xsd:attribute name="beginTime" type="xsd:double"/>
  <xsd:attribute name="endTime" type="xsd:double"/>
  <xsd:attribute name="dt" type="xsd:double"/>
</xsd:complexType>

<xsd:complexType name="SolverApplicationType">
  <xsd:sequence>
    <xsd:element name="Application" type="ApplicationType" minOccurs="0" maxOccurs="unbounded"/>
  </xsd:sequence>
</xsd:complexType>



<!-- Table Definitions -->
<xsd:complexType name="Table1DType">
  <xsd:attribute name="name" type="xsd:string"/>
  <xsd:attribute name="coord" type="xsd:string"/>
  <xsd:attribute name="value" type="xsd:string"/>
  <xsd:attribute name="offsetTime" type="xsd:double"/>
</xsd:complexType>
 
<xsd:complexType name="Table3DType">
  <xsd:attribute name="name" type="xsd:string" use="required"/>
  <xsd:attribute name="xFile" type="xsd:string" use="required"/>
  <xsd:attribute name="yFile" type="xsd:string" use="required"/>
  <xsd:attribute name="zFile" type="xsd:string" use="required"/>
  <xsd:attribute name="voxelFile" type="xsd:string" use="required"/>
</xsd:complexType> 

<xsd:complexType name="TablesType">
  <xsd:choice minOccurs="0" maxOccurs="unbounded">
    <xsd:element name="Table1D"   type="Table1DType" />
    <xsd:element name="Table3D"   type="Table3DType" />
  </xsd:choice>
</xsd:complexType> 



<!-- Solver Definitions -->
<xsd:complexType abstract="true" name="SolverBase">
  <xsd:attribute name="name" type="xsd:string" use="required" />
  <xsd:attribute name="tol" type="xsd:double"/>
  <xsd:attribute name="tolNewton" type="xsd:double"/>
  <xsd:attribute name="maxSolverIterations" type="xsd:int"/>
  <xsd:attribute name="useMLPreconditioner" type="xsd:int"/>
  <xsd:attribute name="useInnerSolver" type="xsd:int"/>
  <xsd:attribute name="scalingOption" type="xsd:int"/>
  <xsd:attribute name="useBicgstab" type="xsd:int"/>
  <xsd:attribute name="verbose" type="xsd:int"/>
  <xsd:attribute name="useDirectSolver" type="xsd:int"/>
  <xsd:attribute name="useNewtonSolve" type="xsd:int"/>
  <xsd:attribute name="maxIterNewton" type="xsd:int"/>
  <xsd:attribute name="courant" type="xsd:double"/>
  <xsd:attribute name="relaxationCoefficient" type="xsd:double"/>
</xsd:complexType>


<!-- Lagrange Solver Definitions -->
<xsd:complexType name="LagrangeSolverBase">
  <xsd:complexContent>
    <xsd:extension base="SolverBase">
      <xsd:attribute name="gravityVector" type="xsd:string"/>
      <xsd:attribute name="hasReferenceStress" type="xsd:int"/>
      <xsd:attribute name="timeIntegrationOption" type="xsd:int"/>
      <xsd:attribute name="dampingM" type="xsd:double"/>
      <xsd:attribute name="dampingK" type="xsd:double"/>
      <xsd:attribute name="timeToSnapshotDisp" type="xsd:double"/>
    </xsd:extension>
  </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="LagrangeSmallStrainLinearElastic">
  <xsd:complexContent>
    <xsd:extension base="LagrangeSolverBase">
    </xsd:extension>
  </xsd:complexContent>
</xsd:complexType>



<!-- Parallel Plate Flow Solver Definitions -->
<xsd:complexType name="LeakoffModel">
  <xsd:attribute name="CartersLeakoffCoefficient" type="xsd:double"/>
  <xsd:attribute name="pressureDependentLeakoff" type="xsd:int"/>
  <xsd:attribute name="referenceViscosity" type="xsd:double"/>
  <xsd:attribute name="minDeltaT" type="xsd:double"/>
</xsd:complexType>

<xsd:complexType name="ParallelPlateFlowSolverBase">
  <xsd:complexContent>
    <xsd:extension base="SolverBase">
      <xsd:sequence>
        <xsd:element name="LeakoffModel"   type="LeakoffModel" minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence> 

      <xsd:attribute name="gravityVector" type="xsd:string"/>
      
      <xsd:attribute name="BartonJointParameters" type="xsd:string"/>
      <xsd:attribute name="progressiveShear" type="xsd:int"/>
      <xsd:attribute name="apertureWithCohesion" type="xsd:int"/>
      <xsd:attribute name="maximumAperture" type="xsd:double"/>

      <xsd:attribute name="bulkModulus" type="xsd:double"/>
      <xsd:attribute name="pressurecap" type="xsd:double"/>
      <xsd:attribute name="maxViscosity" type="xsd:double"/>
      
      <xsd:attribute name="inputFluidNames" type="xsd:string"/>
      <xsd:attribute name="multiphaseDensity" type="xsd:string"/>
      <xsd:attribute name="multiphaseBulkModulus" type="xsd:string"/>
      <xsd:attribute name="multiphaseViscosity" type="xsd:string"/>
      <xsd:attribute name="multiphaseMixingMode" type="xsd:int"/>
      <xsd:attribute name="multiphaseSetnames" type="xsd:string"/>
      
      <xsd:attribute name="wellboreSolverName" type="xsd:string"/>
      <xsd:attribute name="propSolverName" type="xsd:string"/>

    </xsd:extension>
  </xsd:complexContent>
</xsd:complexType>

<xsd:complexType name="ParallelPlateFlowSolver">
  <xsd:complexContent>
    <xsd:extension base="ParallelPlateFlowSolverBase">
      <xsd:attribute name="mu" type="xsd:double"/>
    </xsd:extension>
  </xsd:complexContent>
</xsd:complexType>


<!-- Hydrofracture Solver -->
<xsd:complexType name="Hydrofracture">
  <xsd:complexContent>
    <xsd:extension base="SolverBase">
      <xsd:attribute name="COFJoint" type="xsd:double"/>
      <xsd:attribute name="initializationTime" type="xsd:double"/>
      <xsd:attribute name="lgSolverName" type="xsd:string"/>
      <xsd:attribute name="normalJointStiffness" type="xsd:double"/>
      <xsd:attribute name="ppSolverName" type="xsd:string"/>
      <xsd:attribute name="shearJointStiffness" type="xsd:double"/>
      <xsd:attribute name="timeIntegration" type="xsd:string"/>
      <xsd:attribute name="timeToSnapshotShear" type="xsd:double"/>
      <xsd:attribute name="jointCohesion" type="xsd:double"/>
      <xsd:attribute name="rateStateFriction" type="xsd:string"/>

    </xsd:extension>
  </xsd:complexContent>
</xsd:complexType>


<!-- Proppant Solvers -->
<xsd:complexType name="Proppant">
  <xsd:all>
    <xsd:element name="SlurryModel" type="SlurryModel" minOccurs="0" maxOccurs="1"/>
  </xsd:all> 

  <xsd:attribute name="bridgingFactor" type="xsd:double"/>
  <xsd:attribute name="density" type="xsd:double"/>
  <xsd:attribute name="diameter" type="xsd:double"/>
  <xsd:attribute name="fluidDensity" type="xsd:double"/>
  <xsd:attribute name="fluidViscosity" type="xsd:double"/>
  <xsd:attribute name="gravity" type="xsd:double"/>
  <xsd:attribute name="maxPackingFraction" type="xsd:double"/>
</xsd:complexType>

<xsd:complexType name="SlurryModel">
  <xsd:attribute name="beta" type="xsd:double"/>
  <xsd:attribute name="hinderedSettlingCoefficient" type="xsd:double"/>
  <xsd:attribute name="singleParticleSettlingModel" type="xsd:string"/>
</xsd:complexType>

<xsd:complexType name="ProppantTransportSolver">
  <xsd:complexContent>
    <xsd:extension base="SolverBase">
      <xsd:all>
        <xsd:element name="Proppant" type="Proppant" minOccurs="0" maxOccurs="1"/>
      </xsd:all> 

      <xsd:attribute name="gravityVector" type="xsd:string"/>
      <xsd:attribute name="maxFluxCoefficient" type="xsd:double"/>
      <xsd:attribute name="proppantStartTime" type="xsd:double"/>
    </xsd:extension>
  </xsd:complexContent>
</xsd:complexType>


<!-- Microseismic Solver -->
<xsd:complexType name="MicroseismicSolver">
  <xsd:complexContent>
    <xsd:extension base="SolverBase">
      <xsd:attribute name="adjustPrestress" type="xsd:int"/>
      <xsd:attribute name="allowRepeatingSlip" type="xsd:int"/>
      <xsd:attribute name="dfnContactPenalty" type="xsd:double"/>    
      <xsd:attribute name="dfnMicroseismic" type="xsd:int"/>
      <xsd:attribute name="pointMicroseismic" type="xsd:int"/>
      <xsd:attribute name="settlingTime" type="xsd:double"/>
      <xsd:attribute name="slipCalculationMethod" type="xsd:int"/>
    </xsd:extension>
  </xsd:complexContent>
</xsd:complexType>

<!-- Main Solver Block Definitions -->
<xsd:complexType name="SolversType">
  <xsd:choice maxOccurs="unbounded">
    <xsd:element name="Hydrofracture" type="Hydrofracture"/>
    <xsd:element name="LagrangeSmallStrainLinearElastic" type="LagrangeSmallStrainLinearElastic" maxOccurs="unbounded"/>
    <xsd:element name="MicroseismicSolver" type="MicroseismicSolver"/>
    <xsd:element name="ParallelPlateFlowSolver" type="ParallelPlateFlowSolver" maxOccurs="unbounded"/>
    <xsd:element name="ProppantTransportSolver" type="ProppantTransportSolver"/>
  </xsd:choice>
</xsd:complexType>

<!-- Parent Structure -->
<xsd:element name="Problem" type="ProblemType"/>
 
 <xsd:complexType name="ProblemType">
  <xsd:all>
   <xsd:element name="BoundaryConditions" type="BoundaryConditionsType" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="Contact" type="ContactType" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="ElementRegions" type="ElementRegionsType" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="Fracture" type="FractureType" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="InitialConditions" type="InitialConditionsType" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="InitialConstitutiveValues" type="InitialConstitutiveValuesType" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="JointSets" type="JointsType" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="Mesh" type="MeshesType" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="Nodesets" type="NodesetsType" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="Output" type="OutputType" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="Parameters" type="ParametersType" minOccurs="0" />
   <xsd:element name="Partition" type="PartitionType" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="SolverApplications" type="SolverApplicationType" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="Solvers" type="SolversType" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="Tables" type="TablesType" minOccurs="0" maxOccurs="1"/>
  </xsd:all>

 </xsd:complexType>
</xsd:schema>
