src/coreComponents/fileIO/schema/schema.xsd.other

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:annotation>
		<xsd:documentation xml:lang="en">GEOSX Input Schema</xsd:documentation>
	</xsd:annotation>
	<xsd:simpleType name="R1Tensor">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value=".*[\[\]`$].*|\s*([+-]?[\d]*([\d]\.?|\.[\d])[\d]*([eE][-+]?[\d]+|\s*),\s*){2}[+-]?[\d]*([\d]\.?|\.[\d])[\d]*([eE][-+]?[\d]+|\s*)" />
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="geosx_dataRepository_PlotLevel">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value=".*[\[\]`$].*|[+-]?[\d]+" />
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="globalIndex">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value=".*[\[\]`$].*|[+-]?[\d]+" />
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="globalIndex_array">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value=".*[\[\]`$].*|\{\s*(([+-]?[\d]+,\s*)*[+-]?[\d]+)?\s*\}" />
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="globalIndex_array2d">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value=".*[\[\]`$].*|\{\s*(\{\s*(([+-]?[\d]+,\s*)*[+-]?[\d]+)?\s*\},\s*)*\{\s*(([+-]?[\d]+,\s*)*[+-]?[\d]+)?\s*\}\s*\}" />
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="globalIndex_array3d">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value=".*[\[\]`$].*|\{\s*(\{\s*(\{\s*(([+-]?[\d]+,\s*)*[+-]?[\d]+)?\s*\},\s*)*\{\s*(([+-]?[\d]+,\s*)*[+-]?[\d]+)?\s*\}\s*\},\s*)*\{\s*(\{\s*(([+-]?[\d]+,\s*)*[+-]?[\d]+)?\s*\},\s*)*\{\s*(([+-]?[\d]+,\s*)*[+-]?[\d]+)?\s*\}\s*\}\s*\}" />
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="integer">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value=".*[\[\]`$].*|[+-]?[\d]+" />
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="integer_array">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value=".*[\[\]`$].*|\{\s*(([+-]?[\d]+,\s*)*[+-]?[\d]+)?\s*\}" />
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="integer_array2d">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value=".*[\[\]`$].*|\{\s*(\{\s*(([+-]?[\d]+,\s*)*[+-]?[\d]+)?\s*\},\s*)*\{\s*(([+-]?[\d]+,\s*)*[+-]?[\d]+)?\s*\}\s*\}" />
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="integer_array3d">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value=".*[\[\]`$].*|\{\s*(\{\s*(\{\s*(([+-]?[\d]+,\s*)*[+-]?[\d]+)?\s*\},\s*)*\{\s*(([+-]?[\d]+,\s*)*[+-]?[\d]+)?\s*\}\s*\},\s*)*\{\s*(\{\s*(([+-]?[\d]+,\s*)*[+-]?[\d]+)?\s*\},\s*)*\{\s*(([+-]?[\d]+,\s*)*[+-]?[\d]+)?\s*\}\s*\}\s*\}" />
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="localIndex">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value=".*[\[\]`$].*|[+-]?[\d]+" />
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="localIndex_array">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value=".*[\[\]`$].*|\{\s*(([+-]?[\d]+,\s*)*[+-]?[\d]+)?\s*\}" />
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="localIndex_array2d">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value=".*[\[\]`$].*|\{\s*(\{\s*(([+-]?[\d]+,\s*)*[+-]?[\d]+)?\s*\},\s*)*\{\s*(([+-]?[\d]+,\s*)*[+-]?[\d]+)?\s*\}\s*\}" />
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="localIndex_array3d">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value=".*[\[\]`$].*|\{\s*(\{\s*(\{\s*(([+-]?[\d]+,\s*)*[+-]?[\d]+)?\s*\},\s*)*\{\s*(([+-]?[\d]+,\s*)*[+-]?[\d]+)?\s*\}\s*\},\s*)*\{\s*(\{\s*(([+-]?[\d]+,\s*)*[+-]?[\d]+)?\s*\},\s*)*\{\s*(([+-]?[\d]+,\s*)*[+-]?[\d]+)?\s*\}\s*\}\s*\}" />
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="mapPair">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value=".*[\[\]`$].*|[^,\{\}]*" />
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="mapPair_array">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value=".*[\[\]`$].*|\{\s*(([^,\{\}]*,\s*)*[^,\{\}]*)?\s*\}" />
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="path">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value=".*[\[\]`$].*|[^,\{\}]*" />
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="path_array">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value=".*[\[\]`$].*|\{\s*(([^,\{\}]*,\s*)*[^,\{\}]*)?\s*\}" />
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="r1_array">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value=".*[\[\]`$].*|\{\s*((\s*([+-]?[\d]*([\d]\.?|\.[\d])[\d]*([eE][-+]?[\d]+|\s*),\s*){2}[+-]?[\d]*([\d]\.?|\.[\d])[\d]*([eE][-+]?[\d]+|\s*),\s*)*\s*([+-]?[\d]*([\d]\.?|\.[\d])[\d]*([eE][-+]?[\d]+|\s*),\s*){2}[+-]?[\d]*([\d]\.?|\.[\d])[\d]*([eE][-+]?[\d]+|\s*))?\s*\}" />
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="r1_array2d">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value=".*[\[\]`$].*|\{\s*(\{\s*((\s*([+-]?[\d]*([\d]\.?|\.[\d])[\d]*([eE][-+]?[\d]+|\s*),\s*){2}[+-]?[\d]*([\d]\.?|\.[\d])[\d]*([eE][-+]?[\d]+|\s*),\s*)*\s*([+-]?[\d]*([\d]\.?|\.[\d])[\d]*([eE][-+]?[\d]+|\s*),\s*){2}[+-]?[\d]*([\d]\.?|\.[\d])[\d]*([eE][-+]?[\d]+|\s*))?\s*\},\s*)*\{\s*((\s*([+-]?[\d]*([\d]\.?|\.[\d])[\d]*([eE][-+]?[\d]+|\s*),\s*){2}[+-]?[\d]*([\d]\.?|\.[\d])[\d]*([eE][-+]?[\d]+|\s*),\s*)*\s*([+-]?[\d]*([\d]\.?|\.[\d])[\d]*([eE][-+]?[\d]+|\s*),\s*){2}[+-]?[\d]*([\d]\.?|\.[\d])[\d]*([eE][-+]?[\d]+|\s*))?\s*\}\s*\}" />
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="real32">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value=".*[\[\]`$].*|[+-]?[\d]*([\d]\.?|\.[\d])[\d]*([eE][-+]?[\d]+|\s*)" />
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="real32_array">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value=".*[\[\]`$].*|\{\s*(([+-]?[\d]*([\d]\.?|\.[\d])[\d]*([eE][-+]?[\d]+|\s*),\s*)*[+-]?[\d]*([\d]\.?|\.[\d])[\d]*([eE][-+]?[\d]+|\s*))?\s*\}" />
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="real32_array2d">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value=".*[\[\]`$].*|\{\s*(\{\s*(([+-]?[\d]*([\d]\.?|\.[\d])[\d]*([eE][-+]?[\d]+|\s*),\s*)*[+-]?[\d]*([\d]\.?|\.[\d])[\d]*([eE][-+]?[\d]+|\s*))?\s*\},\s*)*\{\s*(([+-]?[\d]*([\d]\.?|\.[\d])[\d]*([eE][-+]?[\d]+|\s*),\s*)*[+-]?[\d]*([\d]\.?|\.[\d])[\d]*([eE][-+]?[\d]+|\s*))?\s*\}\s*\}" />
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="real32_array3d">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value=".*[\[\]`$].*|\{\s*(\{\s*(\{\s*(([+-]?[\d]*([\d]\.?|\.[\d])[\d]*([eE][-+]?[\d]+|\s*),\s*)*[+-]?[\d]*([\d]\.?|\.[\d])[\d]*([eE][-+]?[\d]+|\s*))?\s*\},\s*)*\{\s*(([+-]?[\d]*([\d]\.?|\.[\d])[\d]*([eE][-+]?[\d]+|\s*),\s*)*[+-]?[\d]*([\d]\.?|\.[\d])[\d]*([eE][-+]?[\d]+|\s*))?\s*\}\s*\},\s*)*\{\s*(\{\s*(([+-]?[\d]*([\d]\.?|\.[\d])[\d]*([eE][-+]?[\d]+|\s*),\s*)*[+-]?[\d]*([\d]\.?|\.[\d])[\d]*([eE][-+]?[\d]+|\s*))?\s*\},\s*)*\{\s*(([+-]?[\d]*([\d]\.?|\.[\d])[\d]*([eE][-+]?[\d]+|\s*),\s*)*[+-]?[\d]*([\d]\.?|\.[\d])[\d]*([eE][-+]?[\d]+|\s*))?\s*\}\s*\}\s*\}" />
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="real64">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value=".*[\[\]`$].*|[+-]?[\d]*([\d]\.?|\.[\d])[\d]*([eE][-+]?[\d]+|\s*)" />
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="real64_array">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value=".*[\[\]`$].*|\{\s*(([+-]?[\d]*([\d]\.?|\.[\d])[\d]*([eE][-+]?[\d]+|\s*),\s*)*[+-]?[\d]*([\d]\.?|\.[\d])[\d]*([eE][-+]?[\d]+|\s*))?\s*\}" />
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="real64_array2d">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value=".*[\[\]`$].*|\{\s*(\{\s*(([+-]?[\d]*([\d]\.?|\.[\d])[\d]*([eE][-+]?[\d]+|\s*),\s*)*[+-]?[\d]*([\d]\.?|\.[\d])[\d]*([eE][-+]?[\d]+|\s*))?\s*\},\s*)*\{\s*(([+-]?[\d]*([\d]\.?|\.[\d])[\d]*([eE][-+]?[\d]+|\s*),\s*)*[+-]?[\d]*([\d]\.?|\.[\d])[\d]*([eE][-+]?[\d]+|\s*))?\s*\}\s*\}" />
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="real64_array3d">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value=".*[\[\]`$].*|\{\s*(\{\s*(\{\s*(([+-]?[\d]*([\d]\.?|\.[\d])[\d]*([eE][-+]?[\d]+|\s*),\s*)*[+-]?[\d]*([\d]\.?|\.[\d])[\d]*([eE][-+]?[\d]+|\s*))?\s*\},\s*)*\{\s*(([+-]?[\d]*([\d]\.?|\.[\d])[\d]*([eE][-+]?[\d]+|\s*),\s*)*[+-]?[\d]*([\d]\.?|\.[\d])[\d]*([eE][-+]?[\d]+|\s*))?\s*\}\s*\},\s*)*\{\s*(\{\s*(([+-]?[\d]*([\d]\.?|\.[\d])[\d]*([eE][-+]?[\d]+|\s*),\s*)*[+-]?[\d]*([\d]\.?|\.[\d])[\d]*([eE][-+]?[\d]+|\s*))?\s*\},\s*)*\{\s*(([+-]?[\d]*([\d]\.?|\.[\d])[\d]*([eE][-+]?[\d]+|\s*),\s*)*[+-]?[\d]*([\d]\.?|\.[\d])[\d]*([eE][-+]?[\d]+|\s*))?\s*\}\s*\}\s*\}" />
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="string">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value=".*[\[\]`$].*|[^,\{\}]*" />
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="string_array">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value=".*[\[\]`$].*|\{\s*(([^,\{\}]*,\s*)*[^,\{\}]*)?\s*\}" />
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:element name="Problem" type="ProblemType" />
	<xsd:complexType name="ProblemType">
		<xsd:choice minOccurs="0" maxOccurs="unbounded">
			<xsd:element name="Benchmarks" type="BenchmarksType" maxOccurs="1" />
			<xsd:element name="Events" type="EventsType" minOccurs="1" maxOccurs="1" />
			<xsd:element name="FieldSpecifications" type="FieldSpecificationsType" maxOccurs="1" />
			<xsd:element name="Functions" type="FunctionsType" maxOccurs="1" />
			<xsd:element name="Geometry" type="GeometryType" maxOccurs="1" />
			<xsd:element name="Included" type="IncludedType" maxOccurs="1" />
			<xsd:element name="Mesh" type="MeshType" minOccurs="1" maxOccurs="1" />
			<xsd:element name="NumericalMethods" type="NumericalMethodsType" maxOccurs="1" />
			<xsd:element name="Outputs" type="OutputsType" minOccurs="1" maxOccurs="1" />
			<xsd:element name="Parameters" type="ParametersType" maxOccurs="1" />
			<xsd:element name="Solvers" type="SolversType" minOccurs="1" maxOccurs="1" />
			<xsd:element name="Tasks" type="TasksType" maxOccurs="1" />
			<xsd:element name="commandLine" type="commandLineType" />
			<xsd:element name="domain" type="domainType" />
			<xsd:element name="Constitutive" type="ConstitutiveType" maxOccurs="1" />
			<xsd:element name="ElementRegions" type="ElementRegionsType" maxOccurs="1" />
		</xsd:choice>
	</xsd:complexType>
	<xsd:complexType name="BenchmarksType">
		<xsd:choice minOccurs="0" maxOccurs="unbounded">
			<xsd:element name="lassen" type="lassenType" maxOccurs="1" />
			<xsd:element name="quartz" type="quartzType" maxOccurs="1" />
		</xsd:choice>
	</xsd:complexType>
	<xsd:complexType name="lassenType">
		<xsd:choice minOccurs="0" maxOccurs="unbounded">
			<xsd:element name="Run" type="RunType" maxOccurs="1" />
		</xsd:choice>
	</xsd:complexType>
	<xsd:complexType name="RunType" />
	<xsd:complexType name="quartzType">
		<xsd:choice minOccurs="0" maxOccurs="unbounded">
			<xsd:element name="Run" type="RunType" maxOccurs="1" />
		</xsd:choice>
	</xsd:complexType>
	<xsd:complexType name="EventsType">
		<xsd:choice minOccurs="0" maxOccurs="unbounded">
			<xsd:element name="HaltEvent" type="HaltEventType" />
			<xsd:element name="PeriodicEvent" type="PeriodicEventType" />
			<xsd:element name="SoloEvent" type="SoloEventType" />
		</xsd:choice>
		<!--currentSubEvent => Index of the current subevent.-->
		<xsd:attribute name="currentSubEvent" type="integer" />
		<!--cycle => Current simulation cycle number.-->
		<xsd:attribute name="cycle" type="integer" />
		<!--dt => Current simulation timestep.-->
		<xsd:attribute name="dt" type="real64" />
		<!--time => Current simulation time.-->
		<xsd:attribute name="time" type="real64" />
	</xsd:complexType>
	<xsd:complexType name="HaltEventType">
		<xsd:choice minOccurs="0" maxOccurs="unbounded">
			<xsd:element name="HaltEvent" type="HaltEventType" />
			<xsd:element name="PeriodicEvent" type="PeriodicEventType" />
			<xsd:element name="SoloEvent" type="SoloEventType" />
		</xsd:choice>
		<!--currentSubEvent => Index of the current subevent-->
		<xsd:attribute name="currentSubEvent" type="integer" />
		<!--eventForecast => Indicates when the event is expected to execute-->
		<xsd:attribute name="eventForecast" type="integer" />
		<!--isTargetExecuting => Index of the current subevent-->
		<xsd:attribute name="isTargetExecuting" type="integer" />
		<!--lastCycle => Last event occurrence (cycle)-->
		<xsd:attribute name="lastCycle" type="integer" />
		<!--lastTime => Last event occurrence (time)-->
		<xsd:attribute name="lastTime" type="real64" />
	</xsd:complexType>
	<xsd:complexType name="PeriodicEventType">
		<xsd:choice minOccurs="0" maxOccurs="unbounded">
			<xsd:element name="HaltEvent" type="HaltEventType" />
			<xsd:element name="PeriodicEvent" type="PeriodicEventType" />
			<xsd:element name="SoloEvent" type="SoloEventType" />
		</xsd:choice>
		<!--currentSubEvent => Index of the current subevent-->
		<xsd:attribute name="currentSubEvent" type="integer" />
		<!--eventForecast => Indicates when the event is expected to execute-->
		<xsd:attribute name="eventForecast" type="integer" />
		<!--isTargetExecuting => Index of the current subevent-->
		<xsd:attribute name="isTargetExecuting" type="integer" />
		<!--lastCycle => Last event occurrence (cycle)-->
		<xsd:attribute name="lastCycle" type="integer" />
		<!--lastTime => Last event occurrence (time)-->
		<xsd:attribute name="lastTime" type="real64" />
	</xsd:complexType>
	<xsd:complexType name="SoloEventType">
		<xsd:choice minOccurs="0" maxOccurs="unbounded">
			<xsd:element name="HaltEvent" type="HaltEventType" />
			<xsd:element name="PeriodicEvent" type="PeriodicEventType" />
			<xsd:element name="SoloEvent" type="SoloEventType" />
		</xsd:choice>
		<!--currentSubEvent => Index of the current subevent-->
		<xsd:attribute name="currentSubEvent" type="integer" />
		<!--eventForecast => Indicates when the event is expected to execute-->
		<xsd:attribute name="eventForecast" type="integer" />
		<!--isTargetExecuting => Index of the current subevent-->
		<xsd:attribute name="isTargetExecuting" type="integer" />
		<!--lastCycle => Last event occurrence (cycle)-->
		<xsd:attribute name="lastCycle" type="integer" />
		<!--lastTime => Last event occurrence (time)-->
		<xsd:attribute name="lastTime" type="real64" />
	</xsd:complexType>
	<xsd:complexType name="FieldSpecificationsType">
		<xsd:choice minOccurs="0" maxOccurs="unbounded">
			<xsd:element name="Dirichlet" type="DirichletType" />
			<xsd:element name="FieldSpecification" type="FieldSpecificationType" />
			<xsd:element name="SourceFlux" type="SourceFluxType" />
		</xsd:choice>
	</xsd:complexType>
	<xsd:complexType name="DirichletType" />
	<xsd:complexType name="FieldSpecificationType" />
	<xsd:complexType name="SourceFluxType" />
	<xsd:complexType name="FunctionsType">
		<xsd:choice minOccurs="0" maxOccurs="unbounded">
			<xsd:element name="CompositeFunction" type="CompositeFunctionType" />
			<xsd:element name="SymbolicFunction" type="SymbolicFunctionType" />
			<xsd:element name="TableFunction" type="TableFunctionType" />
		</xsd:choice>
	</xsd:complexType>
	<xsd:complexType name="CompositeFunctionType" />
	<xsd:complexType name="SymbolicFunctionType" />
	<xsd:complexType name="TableFunctionType" />
	<xsd:complexType name="GeometryType">
		<xsd:choice minOccurs="0" maxOccurs="unbounded">
			<xsd:element name="BoundedPlane" type="BoundedPlaneType" />
			<xsd:element name="Box" type="BoxType" />
			<xsd:element name="Cylinder" type="CylinderType" />
			<xsd:element name="ThickPlane" type="ThickPlaneType" />
		</xsd:choice>
	</xsd:complexType>
	<xsd:complexType name="BoundedPlaneType" />
	<xsd:complexType name="BoxType">
		<!--center => (no description available)-->
		<xsd:attribute name="center" type="R1Tensor" />
		<!--cosStrike => (no description available)-->
		<xsd:attribute name="cosStrike" type="real64" />
		<!--sinStrike => (no description available)-->
		<xsd:attribute name="sinStrike" type="real64" />
	</xsd:complexType>
	<xsd:complexType name="CylinderType" />
	<xsd:complexType name="ThickPlaneType" />
	<xsd:complexType name="IncludedType">
		<xsd:choice minOccurs="0" maxOccurs="unbounded">
			<xsd:element name="File" type="FileType" />
		</xsd:choice>
	</xsd:complexType>
	<xsd:complexType name="FileType" />
	<xsd:complexType name="MeshType">
		<xsd:choice minOccurs="0" maxOccurs="unbounded">
			<xsd:element name="InternalMesh" type="InternalMeshType" />
			<xsd:element name="InternalWell" type="InternalWellType" />
			<xsd:element name="PAMELAMeshGenerator" type="PAMELAMeshGeneratorType" />
		</xsd:choice>
	</xsd:complexType>
	<xsd:complexType name="InternalMeshType">
		<xsd:choice minOccurs="0" maxOccurs="unbounded">
			<xsd:element name="Level0" type="Level0Type" />
		</xsd:choice>
		<!--meshLevels => (no description available)-->
		<xsd:attribute name="meshLevels" type="integer" />
	</xsd:complexType>
	<xsd:complexType name="InternalWellType">
		<xsd:choice minOccurs="0" maxOccurs="unbounded">
			<xsd:element name="Perforation" type="PerforationType" />
			<xsd:element name="Level0" type="Level0Type" />
		</xsd:choice>
		<!--meshLevels => (no description available)-->
		<xsd:attribute name="meshLevels" type="integer" />
	</xsd:complexType>
	<xsd:complexType name="PerforationType" />
	<xsd:complexType name="PAMELAMeshGeneratorType">
		<xsd:choice minOccurs="0" maxOccurs="unbounded">
			<xsd:element name="Level0" type="Level0Type" />
		</xsd:choice>
		<!--meshLevels => (no description available)-->
		<xsd:attribute name="meshLevels" type="integer" />
	</xsd:complexType>
	<xsd:complexType name="NumericalMethodsType">
		<xsd:choice minOccurs="0" maxOccurs="unbounded">
			<xsd:element name="FiniteElements" type="FiniteElementsType" maxOccurs="1" />
			<xsd:element name="FiniteVolume" type="FiniteVolumeType" maxOccurs="1" />
		</xsd:choice>
	</xsd:complexType>
	<xsd:complexType name="FiniteElementsType">
		<xsd:choice minOccurs="0" maxOccurs="unbounded">
			<xsd:element name="FiniteElementSpace" type="FiniteElementSpaceType" />
			<xsd:element name="LinearSolverParameters" type="LinearSolverParametersType" maxOccurs="1" />
			<xsd:element name="NonlinearSolverParameters" type="NonlinearSolverParametersType" maxOccurs="1" />
		</xsd:choice>
	</xsd:complexType>
	<xsd:complexType name="FiniteElementSpaceType" />
	<xsd:complexType name="LinearSolverParametersType" />
	<xsd:complexType name="NonlinearSolverParametersType">
		<!--newtonNumberOfIterations => Number of Newton's iterations.-->
		<xsd:attribute name="newtonNumberOfIterations" type="integer" />
	</xsd:complexType>
	<xsd:complexType name="FiniteVolumeType">
		<xsd:choice minOccurs="0" maxOccurs="unbounded">
			<xsd:element name="TwoPointFluxApproximation" type="TwoPointFluxApproximationType" />
		</xsd:choice>
	</xsd:complexType>
	<xsd:complexType name="TwoPointFluxApproximationType">
		<!--cellStencil => (no description available)-->
		<xsd:attribute name="cellStencil" type="geosx_CellElementStencilTPFA" />
		<!--fractureStencil => (no description available)-->
		<xsd:attribute name="fractureStencil" type="geosx_FaceElementStencil" />
	</xsd:complexType>
	<xsd:complexType name="OutputsType">
		<xsd:choice minOccurs="0" maxOccurs="unbounded">
			<xsd:element name="Blueprint" type="BlueprintType" />
			<xsd:element name="ChomboIO" type="ChomboIOType" />
			<xsd:element name="Restart" type="RestartType" />
			<xsd:element name="Silo" type="SiloType" />
			<xsd:element name="TimeHistory" type="TimeHistoryType" />
			<xsd:element name="VTK" type="VTKType" />
		</xsd:choice>
	</xsd:complexType>
	<xsd:complexType name="BlueprintType" />
	<xsd:complexType name="ChomboIOType" />
	<xsd:complexType name="RestartType" />
	<xsd:complexType name="SiloType" />
	<xsd:complexType name="TimeHistoryType">
		<!--restart => The current history record to be written, on restart from an earlier time allows use to remove invalid future history.-->
		<xsd:attribute name="restart" type="integer" />
	</xsd:complexType>
	<xsd:complexType name="VTKType" />
	<xsd:complexType name="ParametersType">
		<xsd:choice minOccurs="0" maxOccurs="unbounded">
			<xsd:element name="Parameter" type="ParameterType" />
		</xsd:choice>
	</xsd:complexType>
	<xsd:complexType name="ParameterType" />
	<xsd:complexType name="SolversType">
		<xsd:choice minOccurs="0" maxOccurs="unbounded">
			<xsd:element name="CompositionalMultiphaseFlow" type="CompositionalMultiphaseFlowType" />
			<xsd:element name="CompositionalMultiphaseReservoir" type="CompositionalMultiphaseReservoirType" />
			<xsd:element name="CompositionalMultiphaseWell" type="CompositionalMultiphaseWellType" />
			<xsd:element name="EmbeddedSurfaceGenerator" type="EmbeddedSurfaceGeneratorType" />
			<xsd:element name="FlowProppantTransport" type="FlowProppantTransportType" />
			<xsd:element name="Hydrofracture" type="HydrofractureType" />
			<xsd:element name="LagrangianContact" type="LagrangianContactType" />
			<xsd:element name="LaplaceFEM" type="LaplaceFEMType" />
			<xsd:element name="PhaseFieldDamageFEM" type="PhaseFieldDamageFEMType" />
			<xsd:element name="PhaseFieldFracture" type="PhaseFieldFractureType" />
			<xsd:element name="Poroelastic" type="PoroelasticType" />
			<xsd:element name="ProppantTransport" type="ProppantTransportType" />
			<xsd:element name="SinglePhaseFVM" type="SinglePhaseFVMType" />
			<xsd:element name="SinglePhaseHybridFVM" type="SinglePhaseHybridFVMType" />
			<xsd:element name="SinglePhaseProppantFVM" type="SinglePhaseProppantFVMType" />
			<xsd:element name="SinglePhaseReservoir" type="SinglePhaseReservoirType" />
			<xsd:element name="SinglePhaseWell" type="SinglePhaseWellType" />
			<xsd:element name="SolidMechanicsEmbeddedFractures" type="SolidMechanicsEmbeddedFracturesType" />
			<xsd:element name="SolidMechanicsLagrangianSSLE" type="SolidMechanicsLagrangianSSLEType" />
			<xsd:element name="SolidMechanics_LagrangianFEM" type="SolidMechanics_LagrangianFEMType" />
			<xsd:element name="SurfaceGenerator" type="SurfaceGeneratorType" />
		</xsd:choice>
	</xsd:complexType>
	<xsd:complexType name="CompositionalMultiphaseFlowType">
		<xsd:choice minOccurs="0" maxOccurs="unbounded">
			<xsd:element name="LinearSolverParameters" type="LinearSolverParametersType" maxOccurs="1" />
			<xsd:element name="NonlinearSolverParameters" type="NonlinearSolverParametersType" maxOccurs="1" />
		</xsd:choice>
		<!--maxStableDt => Value of the Maximum Stable Timestep for this solver.-->
		<xsd:attribute name="maxStableDt" type="real64" />
	</xsd:complexType>
	<xsd:complexType name="CompositionalMultiphaseReservoirType">
		<xsd:choice minOccurs="0" maxOccurs="unbounded">
			<xsd:element name="LinearSolverParameters" type="LinearSolverParametersType" maxOccurs="1" />
			<xsd:element name="NonlinearSolverParameters" type="NonlinearSolverParametersType" maxOccurs="1" />
		</xsd:choice>
		<!--discretization => Name of discretization object (defined in the :ref:`NumericalMethodsManager`) to use for this solver. For instance, if this is a Finite Element Solver, the name of a :ref:`FiniteElement` should be specified. If this is a Finite Volume Method, the name of a :ref:`FiniteVolume` discretization should be specified.-->
		<xsd:attribute name="discretization" type="string" />
		<!--maxStableDt => Value of the Maximum Stable Timestep for this solver.-->
		<xsd:attribute name="maxStableDt" type="real64" />
	</xsd:complexType>
	<xsd:complexType name="CompositionalMultiphaseWellType">
		<xsd:choice minOccurs="0" maxOccurs="unbounded">
			<xsd:element name="LinearSolverParameters" type="LinearSolverParametersType" maxOccurs="1" />
			<xsd:element name="NonlinearSolverParameters" type="NonlinearSolverParametersType" maxOccurs="1" />
			<xsd:element name="WellControls" type="WellControlsType" />
		</xsd:choice>
		<!--discretization => Name of discretization object (defined in the :ref:`NumericalMethodsManager`) to use for this solver. For instance, if this is a Finite Element Solver, the name of a :ref:`FiniteElement` should be specified. If this is a Finite Volume Method, the name of a :ref:`FiniteVolume` discretization should be specified.-->
		<xsd:attribute name="discretization" type="string" />
		<!--maxStableDt => Value of the Maximum Stable Timestep for this solver.-->
		<xsd:attribute name="maxStableDt" type="real64" />
	</xsd:complexType>
	<xsd:complexType name="WellControlsType" />
	<xsd:complexType name="EmbeddedSurfaceGeneratorType">
		<xsd:choice minOccurs="0" maxOccurs="unbounded">
			<xsd:element name="LinearSolverParameters" type="LinearSolverParametersType" maxOccurs="1" />
			<xsd:element name="NonlinearSolverParameters" type="NonlinearSolverParametersType" maxOccurs="1" />
		</xsd:choice>
		<!--discretization => Name of discretization object (defined in the :ref:`NumericalMethodsManager`) to use for this solver. For instance, if this is a Finite Element Solver, the name of a :ref:`FiniteElement` should be specified. If this is a Finite Volume Method, the name of a :ref:`FiniteVolume` discretization should be specified.-->
		<xsd:attribute name="discretization" type="string" />
		<!--maxStableDt => Value of the Maximum Stable Timestep for this solver.-->
		<xsd:attribute name="maxStableDt" type="real64" />
	</xsd:complexType>
	<xsd:complexType name="FlowProppantTransportType">
		<xsd:choice minOccurs="0" maxOccurs="unbounded">
			<xsd:element name="LinearSolverParameters" type="LinearSolverParametersType" maxOccurs="1" />
			<xsd:element name="NonlinearSolverParameters" type="NonlinearSolverParametersType" maxOccurs="1" />
		</xsd:choice>
		<!--discretization => Name of discretization object (defined in the :ref:`NumericalMethodsManager`) to use for this solver. For instance, if this is a Finite Element Solver, the name of a :ref:`FiniteElement` should be specified. If this is a Finite Volume Method, the name of a :ref:`FiniteVolume` discretization should be specified.-->
		<xsd:attribute name="discretization" type="string" />
		<!--maxStableDt => Value of the Maximum Stable Timestep for this solver.-->
		<xsd:attribute name="maxStableDt" type="real64" />
	</xsd:complexType>
	<xsd:complexType name="HydrofractureType">
		<xsd:choice minOccurs="0" maxOccurs="unbounded">
			<xsd:element name="LinearSolverParameters" type="LinearSolverParametersType" maxOccurs="1" />
			<xsd:element name="NonlinearSolverParameters" type="NonlinearSolverParametersType" maxOccurs="1" />
		</xsd:choice>
		<!--maxStableDt => Value of the Maximum Stable Timestep for this solver.-->
		<xsd:attribute name="maxStableDt" type="real64" />
	</xsd:complexType>
	<xsd:complexType name="LagrangianContactType">
		<xsd:choice minOccurs="0" maxOccurs="unbounded">
			<xsd:element name="LinearSolverParameters" type="LinearSolverParametersType" maxOccurs="1" />
			<xsd:element name="NonlinearSolverParameters" type="NonlinearSolverParametersType" maxOccurs="1" />
		</xsd:choice>
		<!--discretization => Name of discretization object (defined in the :ref:`NumericalMethodsManager`) to use for this solver. For instance, if this is a Finite Element Solver, the name of a :ref:`FiniteElement` should be specified. If this is a Finite Volume Method, the name of a :ref:`FiniteVolume` discretization should be specified.-->
		<xsd:attribute name="discretization" type="string" />
		<!--maxStableDt => Value of the Maximum Stable Timestep for this solver.-->
		<xsd:attribute name="maxStableDt" type="real64" />
	</xsd:complexType>
	<xsd:complexType name="LaplaceFEMType">
		<xsd:choice minOccurs="0" maxOccurs="unbounded">
			<xsd:element name="LinearSolverParameters" type="LinearSolverParametersType" maxOccurs="1" />
			<xsd:element name="NonlinearSolverParameters" type="NonlinearSolverParametersType" maxOccurs="1" />
		</xsd:choice>
		<!--maxStableDt => Value of the Maximum Stable Timestep for this solver.-->
		<xsd:attribute name="maxStableDt" type="real64" />
	</xsd:complexType>
	<xsd:complexType name="PhaseFieldDamageFEMType">
		<xsd:choice minOccurs="0" maxOccurs="unbounded">
			<xsd:element name="LinearSolverParameters" type="LinearSolverParametersType" maxOccurs="1" />
			<xsd:element name="NonlinearSolverParameters" type="NonlinearSolverParametersType" maxOccurs="1" />
		</xsd:choice>
		<!--maxStableDt => Value of the Maximum Stable Timestep for this solver.-->
		<xsd:attribute name="maxStableDt" type="real64" />
	</xsd:complexType>
	<xsd:complexType name="PhaseFieldFractureType">
		<xsd:choice minOccurs="0" maxOccurs="unbounded">
			<xsd:element name="LinearSolverParameters" type="LinearSolverParametersType" maxOccurs="1" />
			<xsd:element name="NonlinearSolverParameters" type="NonlinearSolverParametersType" maxOccurs="1" />
		</xsd:choice>
		<!--maxStableDt => Value of the Maximum Stable Timestep for this solver.-->
		<xsd:attribute name="maxStableDt" type="real64" />
	</xsd:complexType>
	<xsd:complexType name="PoroelasticType">
		<xsd:choice minOccurs="0" maxOccurs="unbounded">
			<xsd:element name="LinearSolverParameters" type="LinearSolverParametersType" maxOccurs="1" />
			<xsd:element name="NonlinearSolverParameters" type="NonlinearSolverParametersType" maxOccurs="1" />
		</xsd:choice>
		<!--maxStableDt => Value of the Maximum Stable Timestep for this solver.-->
		<xsd:attribute name="maxStableDt" type="real64" />
	</xsd:complexType>
	<xsd:complexType name="ProppantTransportType">
		<xsd:choice minOccurs="0" maxOccurs="unbounded">
			<xsd:element name="LinearSolverParameters" type="LinearSolverParametersType" maxOccurs="1" />
			<xsd:element name="NonlinearSolverParameters" type="NonlinearSolverParametersType" maxOccurs="1" />
		</xsd:choice>
		<!--maxStableDt => Value of the Maximum Stable Timestep for this solver.-->
		<xsd:attribute name="maxStableDt" type="real64" />
	</xsd:complexType>
	<xsd:complexType name="SinglePhaseFVMType">
		<xsd:choice minOccurs="0" maxOccurs="unbounded">
			<xsd:element name="LinearSolverParameters" type="LinearSolverParametersType" maxOccurs="1" />
			<xsd:element name="NonlinearSolverParameters" type="NonlinearSolverParametersType" maxOccurs="1" />
		</xsd:choice>
		<!--maxStableDt => Value of the Maximum Stable Timestep for this solver.-->
		<xsd:attribute name="maxStableDt" type="real64" />
	</xsd:complexType>
	<xsd:complexType name="SinglePhaseHybridFVMType">
		<xsd:choice minOccurs="0" maxOccurs="unbounded">
			<xsd:element name="LinearSolverParameters" type="LinearSolverParametersType" maxOccurs="1" />
			<xsd:element name="NonlinearSolverParameters" type="NonlinearSolverParametersType" maxOccurs="1" />
		</xsd:choice>
		<!--maxStableDt => Value of the Maximum Stable Timestep for this solver.-->
		<xsd:attribute name="maxStableDt" type="real64" />
	</xsd:complexType>
	<xsd:complexType name="SinglePhaseProppantFVMType">
		<xsd:choice minOccurs="0" maxOccurs="unbounded">
			<xsd:element name="LinearSolverParameters" type="LinearSolverParametersType" maxOccurs="1" />
			<xsd:element name="NonlinearSolverParameters" type="NonlinearSolverParametersType" maxOccurs="1" />
		</xsd:choice>
		<!--maxStableDt => Value of the Maximum Stable Timestep for this solver.-->
		<xsd:attribute name="maxStableDt" type="real64" />
	</xsd:complexType>
	<xsd:complexType name="SinglePhaseReservoirType">
		<xsd:choice minOccurs="0" maxOccurs="unbounded">
			<xsd:element name="LinearSolverParameters" type="LinearSolverParametersType" maxOccurs="1" />
			<xsd:element name="NonlinearSolverParameters" type="NonlinearSolverParametersType" maxOccurs="1" />
		</xsd:choice>
		<!--discretization => Name of discretization object (defined in the :ref:`NumericalMethodsManager`) to use for this solver. For instance, if this is a Finite Element Solver, the name of a :ref:`FiniteElement` should be specified. If this is a Finite Volume Method, the name of a :ref:`FiniteVolume` discretization should be specified.-->
		<xsd:attribute name="discretization" type="string" />
		<!--maxStableDt => Value of the Maximum Stable Timestep for this solver.-->
		<xsd:attribute name="maxStableDt" type="real64" />
	</xsd:complexType>
	<xsd:complexType name="SinglePhaseWellType">
		<xsd:choice minOccurs="0" maxOccurs="unbounded">
			<xsd:element name="LinearSolverParameters" type="LinearSolverParametersType" maxOccurs="1" />
			<xsd:element name="NonlinearSolverParameters" type="NonlinearSolverParametersType" maxOccurs="1" />
			<xsd:element name="WellControls" type="WellControlsType" />
		</xsd:choice>
		<!--discretization => Name of discretization object (defined in the :ref:`NumericalMethodsManager`) to use for this solver. For instance, if this is a Finite Element Solver, the name of a :ref:`FiniteElement` should be specified. If this is a Finite Volume Method, the name of a :ref:`FiniteVolume` discretization should be specified.-->
		<xsd:attribute name="discretization" type="string" />
		<!--maxStableDt => Value of the Maximum Stable Timestep for this solver.-->
		<xsd:attribute name="maxStableDt" type="real64" />
	</xsd:complexType>
	<xsd:complexType name="SolidMechanicsEmbeddedFracturesType">
		<xsd:choice minOccurs="0" maxOccurs="unbounded">
			<xsd:element name="LinearSolverParameters" type="LinearSolverParametersType" maxOccurs="1" />
			<xsd:element name="NonlinearSolverParameters" type="NonlinearSolverParametersType" maxOccurs="1" />
		</xsd:choice>
		<!--discretization => Name of discretization object (defined in the :ref:`NumericalMethodsManager`) to use for this solver. For instance, if this is a Finite Element Solver, the name of a :ref:`FiniteElement` should be specified. If this is a Finite Volume Method, the name of a :ref:`FiniteVolume` discretization should be specified.-->
		<xsd:attribute name="discretization" type="string" />
		<!--maxStableDt => Value of the Maximum Stable Timestep for this solver.-->
		<xsd:attribute name="maxStableDt" type="real64" />
	</xsd:complexType>
	<xsd:complexType name="SolidMechanicsLagrangianSSLEType">
		<xsd:choice minOccurs="0" maxOccurs="unbounded">
			<xsd:element name="LinearSolverParameters" type="LinearSolverParametersType" maxOccurs="1" />
			<xsd:element name="NonlinearSolverParameters" type="NonlinearSolverParametersType" maxOccurs="1" />
		</xsd:choice>
		<!--maxForce => The maximum force contribution in the problem domain.-->
		<xsd:attribute name="maxForce" type="real64" />
		<!--maxStableDt => Value of the Maximum Stable Timestep for this solver.-->
		<xsd:attribute name="maxStableDt" type="real64" />
	</xsd:complexType>
	<xsd:complexType name="SolidMechanics_LagrangianFEMType">
		<xsd:choice minOccurs="0" maxOccurs="unbounded">
			<xsd:element name="LinearSolverParameters" type="LinearSolverParametersType" maxOccurs="1" />
			<xsd:element name="NonlinearSolverParameters" type="NonlinearSolverParametersType" maxOccurs="1" />
		</xsd:choice>
		<!--maxForce => The maximum force contribution in the problem domain.-->
		<xsd:attribute name="maxForce" type="real64" />
		<!--maxStableDt => Value of the Maximum Stable Timestep for this solver.-->
		<xsd:attribute name="maxStableDt" type="real64" />
	</xsd:complexType>
	<xsd:complexType name="SurfaceGeneratorType">
		<xsd:choice minOccurs="0" maxOccurs="unbounded">
			<xsd:element name="LinearSolverParameters" type="LinearSolverParametersType" maxOccurs="1" />
			<xsd:element name="NonlinearSolverParameters" type="NonlinearSolverParametersType" maxOccurs="1" />
		</xsd:choice>
		<!--discretization => Name of discretization object (defined in the :ref:`NumericalMethodsManager`) to use for this solver. For instance, if this is a Finite Element Solver, the name of a :ref:`FiniteElement` should be specified. If this is a Finite Volume Method, the name of a :ref:`FiniteVolume` discretization should be specified.-->
		<xsd:attribute name="discretization" type="string" />
		<!--failCriterion => (no description available)-->
		<xsd:attribute name="failCriterion" type="integer" />
		<!--maxStableDt => Value of the Maximum Stable Timestep for this solver.-->
		<xsd:attribute name="maxStableDt" type="real64" />
		<!--tipEdges => Set containing all the tip edges-->
		<xsd:attribute name="tipEdges" type="LvArray_SortedArray&lt;long, long, LvArray_ChaiBuffer&gt;" />
		<!--tipFaces => Set containing all the tip faces-->
		<xsd:attribute name="tipFaces" type="LvArray_SortedArray&lt;long, long, LvArray_ChaiBuffer&gt;" />
		<!--tipNodes => Set containing all the nodes at the fracture tip-->
		<xsd:attribute name="tipNodes" type="LvArray_SortedArray&lt;long, long, LvArray_ChaiBuffer&gt;" />
		<!--trailingFaces => Set containing all the trailing faces-->
		<xsd:attribute name="trailingFaces" type="LvArray_SortedArray&lt;long, long, LvArray_ChaiBuffer&gt;" />
	</xsd:complexType>
	<xsd:complexType name="TasksType">
		<xsd:choice minOccurs="0" maxOccurs="unbounded">
			<xsd:element name="PackCollection" type="PackCollectionType" />
		</xsd:choice>
	</xsd:complexType>
	<xsd:complexType name="PackCollectionType" />
	<xsd:complexType name="commandLineType">
		<!--beginFromRestart => Flag to indicate restart run.-->
		<xsd:attribute name="beginFromRestart" type="integer" />
		<!--inputFileName => Name of the input xml file.-->
		<xsd:attribute name="inputFileName" type="string" />
		<!--outputDirectory => Directory in which to put the output files, if not specified defaults to the current directory.-->
		<xsd:attribute name="outputDirectory" type="string" />
		<!--overridePartitionNumbers => Flag to indicate partition number override-->
		<xsd:attribute name="overridePartitionNumbers" type="integer" />
		<!--problemName => Used in writing the output files, if not specified defaults to the name of the input file.-->
		<xsd:attribute name="problemName" type="string" />
		<!--restartFileName => Name of the restart file.-->
		<xsd:attribute name="restartFileName" type="string" />
		<!--schemaFileName => Name of the output schema-->
		<xsd:attribute name="schemaFileName" type="string" />
		<!--suppressPinned => Whether to disallow using pinned memory allocations for MPI communication buffers.-->
		<xsd:attribute name="suppressPinned" type="integer" />
		<!--useNonblockingMPI => Whether to prefer using non-blocking MPI communication where implemented (results in non-deterministic DOF numbering).-->
		<xsd:attribute name="useNonblockingMPI" type="integer" />
		<!--xPartitionsOverride => Number of partitions in the x-direction-->
		<xsd:attribute name="xPartitionsOverride" type="integer" />
		<!--yPartitionsOverride => Number of partitions in the y-direction-->
		<xsd:attribute name="yPartitionsOverride" type="integer" />
		<!--zPartitionsOverride => Number of partitions in the z-direction-->
		<xsd:attribute name="zPartitionsOverride" type="integer" />
	</xsd:complexType>
	<xsd:complexType name="domainType">
		<xsd:choice minOccurs="0" maxOccurs="unbounded">
			<xsd:element name="Constitutive" type="ConstitutiveType" maxOccurs="1" />
			<xsd:element name="MeshBodies" type="MeshBodiesType" />
			<xsd:element name="cellManager" type="cellManagerType" />
		</xsd:choice>
		<!--Neighbors => (no description available)-->
		<xsd:attribute name="Neighbors" type="std_vector&lt;geosx_NeighborCommunicator, std_allocator&lt;geosx_NeighborCommunicator&gt; &gt;" />
		<!--partitionManager => (no description available)-->
		<xsd:attribute name="partitionManager" type="geosx_PartitionBase" />
	</xsd:complexType>
	<xsd:complexType name="ConstitutiveType">
		<xsd:choice minOccurs="0" maxOccurs="unbounded">
			<xsd:element name="BlackOilFluid" type="BlackOilFluidType" />
			<xsd:element name="BrooksCoreyBakerRelativePermeability" type="BrooksCoreyBakerRelativePermeabilityType" />
			<xsd:element name="BrooksCoreyCapillaryPressure" type="BrooksCoreyCapillaryPressureType" />
			<xsd:element name="BrooksCoreyRelativePermeability" type="BrooksCoreyRelativePermeabilityType" />
			<xsd:element name="CompositionalMultiphaseFluid" type="CompositionalMultiphaseFluidType" />
			<xsd:element name="CompressibleSinglePhaseFluid" type="CompressibleSinglePhaseFluidType" />
			<xsd:element name="Contact" type="ContactType" />
			<xsd:element name="DamageLinearElasticIsotropic" type="DamageLinearElasticIsotropicType" />
			<xsd:element name="LinearElasticAnisotropic" type="LinearElasticAnisotropicType" />
			<xsd:element name="LinearElasticIsotropic" type="LinearElasticIsotropicType" />
			<xsd:element name="LinearElasticTransverseIsotropic" type="LinearElasticTransverseIsotropicType" />
			<xsd:element name="MohrCoulomb" type="MohrCoulombType" />
			<xsd:element name="MultiPhaseMultiComponentFluid" type="MultiPhaseMultiComponentFluidType" />
			<xsd:element name="NullModel" type="NullModelType" />
			<xsd:element name="ParticleFluid" type="ParticleFluidType" />
			<xsd:element name="PoreVolumeCompressibleSolid" type="PoreVolumeCompressibleSolidType" />
			<xsd:element name="PoroLinearElasticAnisotropic" type="PoroLinearElasticAnisotropicType" />
			<xsd:element name="PoroLinearElasticIsotropic" type="PoroLinearElasticIsotropicType" />
			<xsd:element name="PoroLinearElasticTransverseIsotropic" type="PoroLinearElasticTransverseIsotropicType" />
			<xsd:element name="ProppantSlurryFluid" type="ProppantSlurryFluidType" />
			<xsd:element name="VanGenuchtenBakerRelativePermeability" type="VanGenuchtenBakerRelativePermeabilityType" />
			<xsd:element name="VanGenuchtenCapillaryPressure" type="VanGenuchtenCapillaryPressureType" />
		</xsd:choice>
	</xsd:complexType>
	<xsd:complexType name="BlackOilFluidType">
		<!--dPhaseCompFraction_dGlobalCompFraction => (no description available)-->
		<xsd:attribute name="dPhaseCompFraction_dGlobalCompFraction" type="LvArray_Array&lt;double, 5, camp_int_seq&lt;long, 0l, 1l, 2l, 3l, 4l&gt;, long, LvArray_ChaiBuffer&gt;" />
		<!--dPhaseCompFraction_dPressure => (no description available)-->
		<xsd:attribute name="dPhaseCompFraction_dPressure" type="LvArray_Array&lt;double, 4, camp_int_seq&lt;long, 0l, 1l, 2l, 3l&gt;, long, LvArray_ChaiBuffer&gt;" />
		<!--dPhaseCompFraction_dTemperature => (no description available)-->
		<xsd:attribute name="dPhaseCompFraction_dTemperature" type="LvArray_Array&lt;double, 4, camp_int_seq&lt;long, 0l, 1l, 2l, 3l&gt;, long, LvArray_ChaiBuffer&gt;" />
		<!--dPhaseDensity_dGlobalCompFraction => (no description available)-->
		<xsd:attribute name="dPhaseDensity_dGlobalCompFraction" type="LvArray_Array&lt;double, 4, camp_int_seq&lt;long, 0l, 1l, 2l, 3l&gt;, long, LvArray_ChaiBuffer&gt;" />
		<!--dPhaseDensity_dPressure => (no description available)-->
		<xsd:attribute name="dPhaseDensity_dPressure" type="real64_array3d" />
		<!--dPhaseDensity_dTemperature => (no description available)-->
		<xsd:attribute name="dPhaseDensity_dTemperature" type="real64_array3d" />
		<!--dPhaseFraction_dGlobalCompFraction => (no description available)-->
		<xsd:attribute name="dPhaseFraction_dGlobalCompFraction" type="LvArray_Array&lt;double, 4, camp_int_seq&lt;long, 0l, 1l, 2l, 3l&gt;, long, LvArray_ChaiBuffer&gt;" />
		<!--dPhaseFraction_dPressure => (no description available)-->
		<xsd:attribute name="dPhaseFraction_dPressure" type="real64_array3d" />
		<!--dPhaseFraction_dTemperature => (no description available)-->
		<xsd:attribute name="dPhaseFraction_dTemperature" type="real64_array3d" />
		<!--dPhaseMassDensity_dGlobalCompFraction => (no description available)-->
		<xsd:attribute name="dPhaseMassDensity_dGlobalCompFraction" type="LvArray_Array&lt;double, 4, camp_int_seq&lt;long, 0l, 1l, 2l, 3l&gt;, long, LvArray_ChaiBuffer&gt;" />
		<!--dPhaseMassDensity_dPressure => (no description available)-->
		<xsd:attribute name="dPhaseMassDensity_dPressure" type="real64_array3d" />
		<!--dPhaseMassDensity_dTemperature => (no description available)-->
		<xsd:attribute name="dPhaseMassDensity_dTemperature" type="real64_array3d" />
		<!--dPhaseViscosity_dGlobalCompFraction => (no description available)-->
		<xsd:attribute name="dPhaseViscosity_dGlobalCompFraction" type="LvArray_Array&lt;double, 4, camp_int_seq&lt;long, 0l, 1l, 2l, 3l&gt;, long, LvArray_ChaiBuffer&gt;" />
		<!--dPhaseViscosity_dPressure => (no description available)-->
		<xsd:attribute name="dPhaseViscosity_dPressure" type="real64_array3d" />
		<!--dPhaseViscosity_dTemperature => (no description available)-->
		<xsd:attribute name="dPhaseViscosity_dTemperature" type="real64_array3d" />
		<!--dTotalDensity_dGlobalCompFraction => (no description available)-->
		<xsd:attribute name="dTotalDensity_dGlobalCompFraction" type="real64_array3d" />
		<!--dTotalDensity_dPressure => (no description available)-->
		<xsd:attribute name="dTotalDensity_dPressure" type="real64_array2d" />
		<!--dTotalDensity_dTemperature => (no description available)-->
		<xsd:attribute name="dTotalDensity_dTemperature" type="real64_array2d" />
		<!--phaseCompFraction => (no description available)-->
		<xsd:attribute name="phaseCompFraction" type="LvArray_Array&lt;double, 4, camp_int_seq&lt;long, 0l, 1l, 2l, 3l&gt;, long, LvArray_ChaiBuffer&gt;" />
		<!--phaseDensity => (no description available)-->
		<xsd:attribute name="phaseDensity" type="real64_array3d" />
		<!--phaseFraction => (no description available)-->
		<xsd:attribute name="phaseFraction" type="real64_array3d" />
		<!--phaseMassDensity => (no description available)-->
		<xsd:attribute name="phaseMassDensity" type="real64_array3d" />
		<!--phaseViscosity => (no description available)-->
		<xsd:attribute name="phaseViscosity" type="real64_array3d" />
		<!--totalDensity => (no description available)-->
		<xsd:attribute name="totalDensity" type="real64_array2d" />
		<!--useMass => (no description available)-->
		<xsd:attribute name="useMass" type="integer" />
	</xsd:complexType>
	<xsd:complexType name="BrooksCoreyBakerRelativePermeabilityType">
		<!--dPhaseRelPerm_dPhaseVolFraction => (no description available)-->
		<xsd:attribute name="dPhaseRelPerm_dPhaseVolFraction" type="LvArray_Array&lt;double, 4, camp_int_seq&lt;long, 0l, 1l, 2l, 3l&gt;, long, LvArray_ChaiBuffer&gt;" />
		<!--phaseOrder => (no description available)-->
		<xsd:attribute name="phaseOrder" type="integer_array" />
		<!--phaseRelPerm => (no description available)-->
		<xsd:attribute name="phaseRelPerm" type="real64_array3d" />
		<!--phaseTypes => (no description available)-->
		<xsd:attribute name="phaseTypes" type="integer_array" />
		<!--volFracScale => Factor used to scale the phase capillary pressure, defined as: one minus the sum of the phase minimum volume fractions.-->
		<xsd:attribute name="volFracScale" type="real64" />
	</xsd:complexType>
	<xsd:complexType name="BrooksCoreyCapillaryPressureType">
		<!--dPhaseCapPressure_dPhaseVolFraction => (no description available)-->
		<xsd:attribute name="dPhaseCapPressure_dPhaseVolFraction" type="LvArray_Array&lt;double, 4, camp_int_seq&lt;long, 0l, 1l, 2l, 3l&gt;, long, LvArray_ChaiBuffer&gt;" />
		<!--phaseCapPressure => (no description available)-->
		<xsd:attribute name="phaseCapPressure" type="real64_array3d" />
		<!--phaseOrder => (no description available)-->
		<xsd:attribute name="phaseOrder" type="integer_array" />
		<!--phaseTypes => (no description available)-->
		<xsd:attribute name="phaseTypes" type="integer_array" />
		<!--volFracScale => Factor used to scale the phase capillary pressure, defined as: one minus the sum of the phase minimum volume fractions.-->
		<xsd:attribute name="volFracScale" type="real64" />
	</xsd:complexType>
	<xsd:complexType name="BrooksCoreyRelativePermeabilityType">
		<!--dPhaseRelPerm_dPhaseVolFraction => (no description available)-->
		<xsd:attribute name="dPhaseRelPerm_dPhaseVolFraction" type="LvArray_Array&lt;double, 4, camp_int_seq&lt;long, 0l, 1l, 2l, 3l&gt;, long, LvArray_ChaiBuffer&gt;" />
		<!--phaseOrder => (no description available)-->
		<xsd:attribute name="phaseOrder" type="integer_array" />
		<!--phaseRelPerm => (no description available)-->
		<xsd:attribute name="phaseRelPerm" type="real64_array3d" />
		<!--phaseTypes => (no description available)-->
		<xsd:attribute name="phaseTypes" type="integer_array" />
		<!--volFracScale => Factor used to scale the phase capillary pressure, defined as: one minus the sum of the phase minimum volume fractions.-->
		<xsd:attribute name="volFracScale" type="real64" />
	</xsd:complexType>
	<xsd:complexType name="CompositionalMultiphaseFluidType">
		<!--dPhaseCompFraction_dGlobalCompFraction => (no description available)-->
		<xsd:attribute name="dPhaseCompFraction_dGlobalCompFraction" type="LvArray_Array&lt;double, 5, camp_int_seq&lt;long, 0l, 1l, 2l, 3l, 4l&gt;, long, LvArray_ChaiBuffer&gt;" />
		<!--dPhaseCompFraction_dPressure => (no description available)-->
		<xsd:attribute name="dPhaseCompFraction_dPressure" type="LvArray_Array&lt;double, 4, camp_int_seq&lt;long, 0l, 1l, 2l, 3l&gt;, long, LvArray_ChaiBuffer&gt;" />
		<!--dPhaseCompFraction_dTemperature => (no description available)-->
		<xsd:attribute name="dPhaseCompFraction_dTemperature" type="LvArray_Array&lt;double, 4, camp_int_seq&lt;long, 0l, 1l, 2l, 3l&gt;, long, LvArray_ChaiBuffer&gt;" />
		<!--dPhaseDensity_dGlobalCompFraction => (no description available)-->
		<xsd:attribute name="dPhaseDensity_dGlobalCompFraction" type="LvArray_Array&lt;double, 4, camp_int_seq&lt;long, 0l, 1l, 2l, 3l&gt;, long, LvArray_ChaiBuffer&gt;" />
		<!--dPhaseDensity_dPressure => (no description available)-->
		<xsd:attribute name="dPhaseDensity_dPressure" type="real64_array3d" />
		<!--dPhaseDensity_dTemperature => (no description available)-->
		<xsd:attribute name="dPhaseDensity_dTemperature" type="real64_array3d" />
		<!--dPhaseFraction_dGlobalCompFraction => (no description available)-->
		<xsd:attribute name="dPhaseFraction_dGlobalCompFraction" type="LvArray_Array&lt;double, 4, camp_int_seq&lt;long, 0l, 1l, 2l, 3l&gt;, long, LvArray_ChaiBuffer&gt;" />
		<!--dPhaseFraction_dPressure => (no description available)-->
		<xsd:attribute name="dPhaseFraction_dPressure" type="real64_array3d" />
		<!--dPhaseFraction_dTemperature => (no description available)-->
		<xsd:attribute name="dPhaseFraction_dTemperature" type="real64_array3d" />
		<!--dPhaseMassDensity_dGlobalCompFraction => (no description available)-->
		<xsd:attribute name="dPhaseMassDensity_dGlobalCompFraction" type="LvArray_Array&lt;double, 4, camp_int_seq&lt;long, 0l, 1l, 2l, 3l&gt;, long, LvArray_ChaiBuffer&gt;" />
		<!--dPhaseMassDensity_dPressure => (no description available)-->
		<xsd:attribute name="dPhaseMassDensity_dPressure" type="real64_array3d" />
		<!--dPhaseMassDensity_dTemperature => (no description available)-->
		<xsd:attribute name="dPhaseMassDensity_dTemperature" type="real64_array3d" />
		<!--dPhaseViscosity_dGlobalCompFraction => (no description available)-->
		<xsd:attribute name="dPhaseViscosity_dGlobalCompFraction" type="LvArray_Array&lt;double, 4, camp_int_seq&lt;long, 0l, 1l, 2l, 3l&gt;, long, LvArray_ChaiBuffer&gt;" />
		<!--dPhaseViscosity_dPressure => (no description available)-->
		<xsd:attribute name="dPhaseViscosity_dPressure" type="real64_array3d" />
		<!--dPhaseViscosity_dTemperature => (no description available)-->
		<xsd:attribute name="dPhaseViscosity_dTemperature" type="real64_array3d" />
		<!--dTotalDensity_dGlobalCompFraction => (no description available)-->
		<xsd:attribute name="dTotalDensity_dGlobalCompFraction" type="real64_array3d" />
		<!--dTotalDensity_dPressure => (no description available)-->
		<xsd:attribute name="dTotalDensity_dPressure" type="real64_array2d" />
		<!--dTotalDensity_dTemperature => (no description available)-->
		<xsd:attribute name="dTotalDensity_dTemperature" type="real64_array2d" />
		<!--phaseCompFraction => (no description available)-->
		<xsd:attribute name="phaseCompFraction" type="LvArray_Array&lt;double, 4, camp_int_seq&lt;long, 0l, 1l, 2l, 3l&gt;, long, LvArray_ChaiBuffer&gt;" />
		<!--phaseDensity => (no description available)-->
		<xsd:attribute name="phaseDensity" type="real64_array3d" />
		<!--phaseFraction => (no description available)-->
		<xsd:attribute name="phaseFraction" type="real64_array3d" />
		<!--phaseMassDensity => (no description available)-->
		<xsd:attribute name="phaseMassDensity" type="real64_array3d" />
		<!--phaseViscosity => (no description available)-->
		<xsd:attribute name="phaseViscosity" type="real64_array3d" />
		<!--totalDensity => (no description available)-->
		<xsd:attribute name="totalDensity" type="real64_array2d" />
		<!--useMass => (no description available)-->
		<xsd:attribute name="useMass" type="integer" />
	</xsd:complexType>
	<xsd:complexType name="CompressibleSinglePhaseFluidType">
		<!--dDensity_dPressure => (no description available)-->
		<xsd:attribute name="dDensity_dPressure" type="real64_array2d" />
		<!--dViscosity_dPressure => (no description available)-->
		<xsd:attribute name="dViscosity_dPressure" type="real64_array2d" />
		<!--density => (no description available)-->
		<xsd:attribute name="density" type="real64_array2d" />
		<!--viscosity => (no description available)-->
		<xsd:attribute name="viscosity" type="real64_array2d" />
	</xsd:complexType>
	<xsd:complexType name="ContactType">
		<xsd:choice minOccurs="0" maxOccurs="1">
			<xsd:element name="TableFunction" type="TableFunctionType" />
		</xsd:choice>
	</xsd:complexType>
	<xsd:complexType name="DamageLinearElasticIsotropicType">
		<!--BulkModulus => Elastic Bulk Modulus Field-->
		<xsd:attribute name="BulkModulus" type="real64_array" />
		<!--ShearModulus => Elastic Shear Modulus-->
		<xsd:attribute name="ShearModulus" type="real64_array" />
		<!--damage => Material Damage Variable-->
		<xsd:attribute name="damage" type="real64_array2d" />
		<!--density => Material Density-->
		<xsd:attribute name="density" type="real64_array2d" />
		<!--strainEnergyDensity => Stress Deviator-->
		<xsd:attribute name="strainEnergyDensity" type="real64_array2d" />
		<!--stress => Material Stress-->
		<xsd:attribute name="stress" type="real64_array3d" />
	</xsd:complexType>
	<xsd:complexType name="LinearElasticAnisotropicType">
		<!--density => Material Density-->
		<xsd:attribute name="density" type="real64_array2d" />
		<!--stiffness => Fully Anisotropic Elastic Stiffness Field in Voigt notation (6x6 matrix)-->
		<xsd:attribute name="stiffness" type="real64_array3d" />
		<!--stress => Material Stress-->
		<xsd:attribute name="stress" type="real64_array3d" />
	</xsd:complexType>
	<xsd:complexType name="LinearElasticIsotropicType">
		<!--BulkModulus => Elastic Bulk Modulus Field-->
		<xsd:attribute name="BulkModulus" type="real64_array" />
		<!--ShearModulus => Elastic Shear Modulus-->
		<xsd:attribute name="ShearModulus" type="real64_array" />
		<!--density => Material Density-->
		<xsd:attribute name="density" type="real64_array2d" />
		<!--stress => Material Stress-->
		<xsd:attribute name="stress" type="real64_array3d" />
	</xsd:complexType>
	<xsd:complexType name="LinearElasticTransverseIsotropicType">
		<!--c11 => Elastic Bulk Modulus Field-->
		<xsd:attribute name="c11" type="real64_array" />
		<!--c13 => Elastic Bulk Modulus Field-->
		<xsd:attribute name="c13" type="real64_array" />
		<!--c33 => Elastic Bulk Modulus Field-->
		<xsd:attribute name="c33" type="real64_array" />
		<!--c44 => Elastic Bulk Modulus Field-->
		<xsd:attribute name="c44" type="real64_array" />
		<!--c66 => Elastic Bulk Modulus Field-->
		<xsd:attribute name="c66" type="real64_array" />
		<!--density => Material Density-->
		<xsd:attribute name="density" type="real64_array2d" />
		<!--stress => Material Stress-->
		<xsd:attribute name="stress" type="real64_array3d" />
	</xsd:complexType>
	<xsd:complexType name="MohrCoulombType">
		<xsd:choice minOccurs="0" maxOccurs="1">
			<xsd:element name="TableFunction" type="TableFunctionType" />
		</xsd:choice>
	</xsd:complexType>
	<xsd:complexType name="MultiPhaseMultiComponentFluidType">
		<!--dPhaseCompFraction_dGlobalCompFraction => (no description available)-->
		<xsd:attribute name="dPhaseCompFraction_dGlobalCompFraction" type="LvArray_Array&lt;double, 5, camp_int_seq&lt;long, 0l, 1l, 2l, 3l, 4l&gt;, long, LvArray_ChaiBuffer&gt;" />
		<!--dPhaseCompFraction_dPressure => (no description available)-->
		<xsd:attribute name="dPhaseCompFraction_dPressure" type="LvArray_Array&lt;double, 4, camp_int_seq&lt;long, 0l, 1l, 2l, 3l&gt;, long, LvArray_ChaiBuffer&gt;" />
		<!--dPhaseCompFraction_dTemperature => (no description available)-->
		<xsd:attribute name="dPhaseCompFraction_dTemperature" type="LvArray_Array&lt;double, 4, camp_int_seq&lt;long, 0l, 1l, 2l, 3l&gt;, long, LvArray_ChaiBuffer&gt;" />
		<!--dPhaseDensity_dGlobalCompFraction => (no description available)-->
		<xsd:attribute name="dPhaseDensity_dGlobalCompFraction" type="LvArray_Array&lt;double, 4, camp_int_seq&lt;long, 0l, 1l, 2l, 3l&gt;, long, LvArray_ChaiBuffer&gt;" />
		<!--dPhaseDensity_dPressure => (no description available)-->
		<xsd:attribute name="dPhaseDensity_dPressure" type="real64_array3d" />
		<!--dPhaseDensity_dTemperature => (no description available)-->
		<xsd:attribute name="dPhaseDensity_dTemperature" type="real64_array3d" />
		<!--dPhaseFraction_dGlobalCompFraction => (no description available)-->
		<xsd:attribute name="dPhaseFraction_dGlobalCompFraction" type="LvArray_Array&lt;double, 4, camp_int_seq&lt;long, 0l, 1l, 2l, 3l&gt;, long, LvArray_ChaiBuffer&gt;" />
		<!--dPhaseFraction_dPressure => (no description available)-->
		<xsd:attribute name="dPhaseFraction_dPressure" type="real64_array3d" />
		<!--dPhaseFraction_dTemperature => (no description available)-->
		<xsd:attribute name="dPhaseFraction_dTemperature" type="real64_array3d" />
		<!--dPhaseMassDensity_dGlobalCompFraction => (no description available)-->
		<xsd:attribute name="dPhaseMassDensity_dGlobalCompFraction" type="LvArray_Array&lt;double, 4, camp_int_seq&lt;long, 0l, 1l, 2l, 3l&gt;, long, LvArray_ChaiBuffer&gt;" />
		<!--dPhaseMassDensity_dPressure => (no description available)-->
		<xsd:attribute name="dPhaseMassDensity_dPressure" type="real64_array3d" />
		<!--dPhaseMassDensity_dTemperature => (no description available)-->
		<xsd:attribute name="dPhaseMassDensity_dTemperature" type="real64_array3d" />
		<!--dPhaseViscosity_dGlobalCompFraction => (no description available)-->
		<xsd:attribute name="dPhaseViscosity_dGlobalCompFraction" type="LvArray_Array&lt;double, 4, camp_int_seq&lt;long, 0l, 1l, 2l, 3l&gt;, long, LvArray_ChaiBuffer&gt;" />
		<!--dPhaseViscosity_dPressure => (no description available)-->
		<xsd:attribute name="dPhaseViscosity_dPressure" type="real64_array3d" />
		<!--dPhaseViscosity_dTemperature => (no description available)-->
		<xsd:attribute name="dPhaseViscosity_dTemperature" type="real64_array3d" />
		<!--dTotalDensity_dGlobalCompFraction => (no description available)-->
		<xsd:attribute name="dTotalDensity_dGlobalCompFraction" type="real64_array3d" />
		<!--dTotalDensity_dPressure => (no description available)-->
		<xsd:attribute name="dTotalDensity_dPressure" type="real64_array2d" />
		<!--dTotalDensity_dTemperature => (no description available)-->
		<xsd:attribute name="dTotalDensity_dTemperature" type="real64_array2d" />
		<!--phaseCompFraction => (no description available)-->
		<xsd:attribute name="phaseCompFraction" type="LvArray_Array&lt;double, 4, camp_int_seq&lt;long, 0l, 1l, 2l, 3l&gt;, long, LvArray_ChaiBuffer&gt;" />
		<!--phaseDensity => (no description available)-->
		<xsd:attribute name="phaseDensity" type="real64_array3d" />
		<!--phaseFraction => (no description available)-->
		<xsd:attribute name="phaseFraction" type="real64_array3d" />
		<!--phaseMassDensity => (no description available)-->
		<xsd:attribute name="phaseMassDensity" type="real64_array3d" />
		<!--phaseViscosity => (no description available)-->
		<xsd:attribute name="phaseViscosity" type="real64_array3d" />
		<!--totalDensity => (no description available)-->
		<xsd:attribute name="totalDensity" type="real64_array2d" />
		<!--useMass => (no description available)-->
		<xsd:attribute name="useMass" type="integer" />
	</xsd:complexType>
	<xsd:complexType name="NullModelType" />
	<xsd:complexType name="ParticleFluidType">
		<!--collisionFactor => (no description available)-->
		<xsd:attribute name="collisionFactor" type="real64_array" />
		<!--dCollisionFactor_dProppantConcentration => (no description available)-->
		<xsd:attribute name="dCollisionFactor_dProppantConcentration" type="real64_array" />
		<!--dSettlingFactor_dComponentConcentration => (no description available)-->
		<xsd:attribute name="dSettlingFactor_dComponentConcentration" type="real64_array2d" />
		<!--dSettlingFactor_dPressure => (no description available)-->
		<xsd:attribute name="dSettlingFactor_dPressure" type="real64_array" />
		<!--dSettlingFactor_dProppantConcentration => (no description available)-->
		<xsd:attribute name="dSettlingFactor_dProppantConcentration" type="real64_array" />
		<!--proppantPackPermeability => (no description available)-->
		<xsd:attribute name="proppantPackPermeability" type="real64_array" />
		<!--settlingFactor => (no description available)-->
		<xsd:attribute name="settlingFactor" type="real64_array" />
	</xsd:complexType>
	<xsd:complexType name="PoreVolumeCompressibleSolidType">
		<!--dPVMult_dDensity => (no description available)-->
		<xsd:attribute name="dPVMult_dDensity" type="real64_array2d" />
		<!--poreVolumeMultiplier => (no description available)-->
		<xsd:attribute name="poreVolumeMultiplier" type="real64_array2d" />
	</xsd:complexType>
	<xsd:complexType name="PoroLinearElasticAnisotropicType">
		<!--dPVMult_dDensity => (no description available)-->
		<xsd:attribute name="dPVMult_dDensity" type="real64_array2d" />
		<!--density => Material Density-->
		<xsd:attribute name="density" type="real64_array2d" />
		<!--poreVolumeMultiplier => (no description available)-->
		<xsd:attribute name="poreVolumeMultiplier" type="real64_array2d" />
		<!--stiffness => Fully Anisotropic Elastic Stiffness Field in Voigt notation (6x6 matrix)-->
		<xsd:attribute name="stiffness" type="real64_array3d" />
		<!--stress => Material Stress-->
		<xsd:attribute name="stress" type="real64_array3d" />
	</xsd:complexType>
	<xsd:complexType name="PoroLinearElasticIsotropicType">
		<!--BulkModulus => Elastic Bulk Modulus Field-->
		<xsd:attribute name="BulkModulus" type="real64_array" />
		<!--ShearModulus => Elastic Shear Modulus-->
		<xsd:attribute name="ShearModulus" type="real64_array" />
		<!--dPVMult_dDensity => (no description available)-->
		<xsd:attribute name="dPVMult_dDensity" type="real64_array2d" />
		<!--density => Material Density-->
		<xsd:attribute name="density" type="real64_array2d" />
		<!--poreVolumeMultiplier => (no description available)-->
		<xsd:attribute name="poreVolumeMultiplier" type="real64_array2d" />
		<!--stress => Material Stress-->
		<xsd:attribute name="stress" type="real64_array3d" />
	</xsd:complexType>
	<xsd:complexType name="PoroLinearElasticTransverseIsotropicType">
		<!--c11 => Elastic Bulk Modulus Field-->
		<xsd:attribute name="c11" type="real64_array" />
		<!--c13 => Elastic Bulk Modulus Field-->
		<xsd:attribute name="c13" type="real64_array" />
		<!--c33 => Elastic Bulk Modulus Field-->
		<xsd:attribute name="c33" type="real64_array" />
		<!--c44 => Elastic Bulk Modulus Field-->
		<xsd:attribute name="c44" type="real64_array" />
		<!--c66 => Elastic Bulk Modulus Field-->
		<xsd:attribute name="c66" type="real64_array" />
		<!--dPVMult_dDensity => (no description available)-->
		<xsd:attribute name="dPVMult_dDensity" type="real64_array2d" />
		<!--density => Material Density-->
		<xsd:attribute name="density" type="real64_array2d" />
		<!--poreVolumeMultiplier => (no description available)-->
		<xsd:attribute name="poreVolumeMultiplier" type="real64_array2d" />
		<!--stress => Material Stress-->
		<xsd:attribute name="stress" type="real64_array3d" />
	</xsd:complexType>
	<xsd:complexType name="ProppantSlurryFluidType">
		<!--FluidDensity => (no description available)-->
		<xsd:attribute name="FluidDensity" type="real64_array2d" />
		<!--FluidViscosity => (no description available)-->
		<xsd:attribute name="FluidViscosity" type="real64_array2d" />
		<!--componentDensity => (no description available)-->
		<xsd:attribute name="componentDensity" type="real64_array3d" />
		<!--dCompDens_dCompConc => (no description available)-->
		<xsd:attribute name="dCompDens_dCompConc" type="LvArray_Array&lt;double, 4, camp_int_seq&lt;long, 0l, 1l, 2l, 3l&gt;, long, LvArray_ChaiBuffer&gt;" />
		<!--dCompDens_dPres => (no description available)-->
		<xsd:attribute name="dCompDens_dPres" type="real64_array3d" />
		<!--dDens_dCompConc => (no description available)-->
		<xsd:attribute name="dDens_dCompConc" type="real64_array3d" />
		<!--dDens_dPres => (no description available)-->
		<xsd:attribute name="dDens_dPres" type="real64_array2d" />
		<!--dDens_dProppantConc => (no description available)-->
		<xsd:attribute name="dDens_dProppantConc" type="real64_array2d" />
		<!--dFluidDens_dCompConc => (no description available)-->
		<xsd:attribute name="dFluidDens_dCompConc" type="real64_array3d" />
		<!--dFluidDens_dPres => (no description available)-->
		<xsd:attribute name="dFluidDens_dPres" type="real64_array2d" />
		<!--dFluidVisc_dCompConc => (no description available)-->
		<xsd:attribute name="dFluidVisc_dCompConc" type="real64_array3d" />
		<!--dFluidVisc_dPres => (no description available)-->
		<xsd:attribute name="dFluidVisc_dPres" type="real64_array2d" />
		<!--dVisc_dCompConc => (no description available)-->
		<xsd:attribute name="dVisc_dCompConc" type="real64_array3d" />
		<!--dVisc_dPres => (no description available)-->
		<xsd:attribute name="dVisc_dPres" type="real64_array2d" />
		<!--dVisc_dProppantConc => (no description available)-->
		<xsd:attribute name="dVisc_dProppantConc" type="real64_array2d" />
		<!--density => (no description available)-->
		<xsd:attribute name="density" type="real64_array2d" />
		<!--viscosity => (no description available)-->
		<xsd:attribute name="viscosity" type="real64_array2d" />
	</xsd:complexType>
	<xsd:complexType name="VanGenuchtenBakerRelativePermeabilityType">
		<!--dPhaseRelPerm_dPhaseVolFraction => (no description available)-->
		<xsd:attribute name="dPhaseRelPerm_dPhaseVolFraction" type="LvArray_Array&lt;double, 4, camp_int_seq&lt;long, 0l, 1l, 2l, 3l&gt;, long, LvArray_ChaiBuffer&gt;" />
		<!--phaseOrder => (no description available)-->
		<xsd:attribute name="phaseOrder" type="integer_array" />
		<!--phaseRelPerm => (no description available)-->
		<xsd:attribute name="phaseRelPerm" type="real64_array3d" />
		<!--phaseTypes => (no description available)-->
		<xsd:attribute name="phaseTypes" type="integer_array" />
		<!--volFracScale => Factor used to scale the phase capillary pressure, defined as: one minus the sum of the phase minimum volume fractions.-->
		<xsd:attribute name="volFracScale" type="real64" />
	</xsd:complexType>
	<xsd:complexType name="VanGenuchtenCapillaryPressureType">
		<!--dPhaseCapPressure_dPhaseVolFraction => (no description available)-->
		<xsd:attribute name="dPhaseCapPressure_dPhaseVolFraction" type="LvArray_Array&lt;double, 4, camp_int_seq&lt;long, 0l, 1l, 2l, 3l&gt;, long, LvArray_ChaiBuffer&gt;" />
		<!--phaseCapPressure => (no description available)-->
		<xsd:attribute name="phaseCapPressure" type="real64_array3d" />
		<!--phaseOrder => (no description available)-->
		<xsd:attribute name="phaseOrder" type="integer_array" />
		<!--phaseTypes => (no description available)-->
		<xsd:attribute name="phaseTypes" type="integer_array" />
		<!--volFracScale => Factor used to scale the phase capillary pressure, defined as: one minus the sum of the phase minimum volume fractions.-->
		<xsd:attribute name="volFracScale" type="real64" />
	</xsd:complexType>
	<xsd:complexType name="MeshBodiesType">
		<xsd:choice minOccurs="0" maxOccurs="unbounded">
			<xsd:element name="InternalMesh" type="InternalMeshType" />
			<xsd:element name="InternalWell" type="InternalWellType" />
			<xsd:element name="PAMELAMeshGenerator" type="PAMELAMeshGeneratorType" />
		</xsd:choice>
	</xsd:complexType>
	<xsd:complexType name="Level0Type">
		<xsd:choice minOccurs="0" maxOccurs="unbounded">
			<xsd:element name="ElementRegions" type="ElementRegionsType" maxOccurs="1" />
			<xsd:element name="edgeManager" type="edgeManagerType" />
			<xsd:element name="embeddedSurfacesEdgeManager" type="embeddedSurfacesEdgeManagerType" />
			<xsd:element name="FaceManager" type="FaceManagerType" />
			<xsd:element name="finiteVolumeStencils" type="finiteVolumeStencilsType" />
			<xsd:element name="nodeManager" type="nodeManagerType" />
		</xsd:choice>
		<!--meshLevel => (no description available)-->
		<xsd:attribute name="meshLevel" type="integer" />
	</xsd:complexType>
	<xsd:complexType name="ElementRegionsType">
		<xsd:choice minOccurs="0" maxOccurs="unbounded">
			<xsd:element name="elementRegionsGroup" type="elementRegionsGroupType" />
			<xsd:element name="neighborData" type="neighborDataType" />
			<xsd:element name="sets" type="setsType" />
			<xsd:element name="CellElementRegion" type="CellElementRegionType" />
			<xsd:element name="EmbeddedSurfaceElementRegion" type="EmbeddedSurfaceElementRegionType" />
			<xsd:element name="FaceElementRegion" type="FaceElementRegionType" />
			<xsd:element name="WellElementRegion" type="WellElementRegionType" />
		</xsd:choice>
		<!--domainBoundaryIndicator => (no description available)-->
		<xsd:attribute name="domainBoundaryIndicator" type="integer_array" />
		<!--ghostRank => (no description available)-->
		<xsd:attribute name="ghostRank" type="integer_array" />
		<!--globalToLocalMap => (no description available)-->
		<xsd:attribute name="globalToLocalMap" type="geosx_mapBase&lt;long long, long, std_integral_constant&lt;bool, false&gt; &gt;" />
		<!--isExternal => (no description available)-->
		<xsd:attribute name="isExternal" type="integer_array" />
		<!--localToGlobalMap => Array that contains a map from localIndex to globalIndex.-->
		<xsd:attribute name="localToGlobalMap" type="globalIndex_array" />
	</xsd:complexType>
	<xsd:complexType name="elementRegionsGroupType" />
	<xsd:complexType name="neighborDataType" />
	<xsd:complexType name="setsType">
		<!--externalSet => (no description available)-->
		<xsd:attribute name="externalSet" type="LvArray_SortedArray&lt;long, long, LvArray_ChaiBuffer&gt;" />
	</xsd:complexType>
	<xsd:complexType name="edgeManagerType">
		<xsd:choice minOccurs="0" maxOccurs="unbounded">
			<xsd:element name="neighborData" type="neighborDataType" />
			<xsd:element name="sets" type="setsType" />
		</xsd:choice>
		<!--SIF_I => Calculated mode 1 Stress Intensity Factor on the node. => SurfaceGenerator-->
		<xsd:attribute name="SIF_I" type="real64_array" />
		<!--SIF_II => Calculated mode 2 Stress Intensity Factor on the node. => SurfaceGenerator-->
		<xsd:attribute name="SIF_II" type="real64_array" />
		<!--SIF_III => Calculated mode 3 Stress Intensity Factor on the node. => SurfaceGenerator-->
		<xsd:attribute name="SIF_III" type="real64_array" />
		<!--childIndex => Index of child within the mesh object it is registered on. => SurfaceGenerator-->
		<xsd:attribute name="childIndex" type="localIndex_array" />
		<!--domainBoundaryIndicator => (no description available)-->
		<xsd:attribute name="domainBoundaryIndicator" type="integer_array" />
		<!--edgesToFractureConnectors => A map of edge local indices to the fracture connector local indices.-->
		<xsd:attribute name="edgesToFractureConnectors" type="geosx_mapBase&lt;long, long, std_integral_constant&lt;bool, true&gt; &gt;" />
		<!--faceList => (no description available)-->
		<xsd:attribute name="faceList" type="geosx_InterObjectRelation&lt;LvArray_ArrayOfSets&lt;long, long, LvArray_ChaiBuffer&gt; &gt;" />
		<!--fractureConnectorsToEdges => A map of fracture connector local indices to edge local indices.-->
		<xsd:attribute name="fractureConnectorsToEdges" type="localIndex_array" />
		<!--fractureConnectorsToElementIndex => A map of fracture connector local indices face element local indices-->
		<xsd:attribute name="fractureConnectorsToElementIndex" type="LvArray_ArrayOfArrays&lt;long, long, LvArray_ChaiBuffer&gt;" />
		<!--ghostRank => (no description available)-->
		<xsd:attribute name="ghostRank" type="integer_array" />
		<!--globalToLocalMap => (no description available)-->
		<xsd:attribute name="globalToLocalMap" type="geosx_mapBase&lt;long long, long, std_integral_constant&lt;bool, false&gt; &gt;" />
		<!--isExternal => (no description available)-->
		<xsd:attribute name="isExternal" type="integer_array" />
		<!--localToGlobalMap => Array that contains a map from localIndex to globalIndex.-->
		<xsd:attribute name="localToGlobalMap" type="globalIndex_array" />
		<!--nodeList => (no description available)-->
		<xsd:attribute name="nodeList" type="geosx_InterObjectRelation&lt;LvArray_Array&lt;long, 2, camp_int_seq&lt;long, 0l, 1l&gt;, long, LvArray_ChaiBuffer&gt; &gt;" />
		<!--parentIndex => Index of parent within the mesh object it is registered on. => SurfaceGenerator-->
		<xsd:attribute name="parentIndex" type="localIndex_array" />
	</xsd:complexType>
	<xsd:complexType name="embeddedSurfacesEdgeManagerType">
		<xsd:choice minOccurs="0" maxOccurs="unbounded">
			<xsd:element name="neighborData" type="neighborDataType" />
			<xsd:element name="sets" type="setsType" />
		</xsd:choice>
		<!--domainBoundaryIndicator => (no description available)-->
		<xsd:attribute name="domainBoundaryIndicator" type="integer_array" />
		<!--edgesToFractureConnectors => A map of edge local indices to the fracture connector local indices.-->
		<xsd:attribute name="edgesToFractureConnectors" type="geosx_mapBase&lt;long, long, std_integral_constant&lt;bool, true&gt; &gt;" />
		<!--faceList => (no description available)-->
		<xsd:attribute name="faceList" type="geosx_InterObjectRelation&lt;LvArray_ArrayOfSets&lt;long, long, LvArray_ChaiBuffer&gt; &gt;" />
		<!--fractureConnectorsToEdges => A map of fracture connector local indices to edge local indices.-->
		<xsd:attribute name="fractureConnectorsToEdges" type="localIndex_array" />
		<!--fractureConnectorsToElementIndex => A map of fracture connector local indices face element local indices-->
		<xsd:attribute name="fractureConnectorsToElementIndex" type="LvArray_ArrayOfArrays&lt;long, long, LvArray_ChaiBuffer&gt;" />
		<!--ghostRank => (no description available)-->
		<xsd:attribute name="ghostRank" type="integer_array" />
		<!--globalToLocalMap => (no description available)-->
		<xsd:attribute name="globalToLocalMap" type="geosx_mapBase&lt;long long, long, std_integral_constant&lt;bool, false&gt; &gt;" />
		<!--isExternal => (no description available)-->
		<xsd:attribute name="isExternal" type="integer_array" />
		<!--localToGlobalMap => Array that contains a map from localIndex to globalIndex.-->
		<xsd:attribute name="localToGlobalMap" type="globalIndex_array" />
		<!--nodeList => (no description available)-->
		<xsd:attribute name="nodeList" type="geosx_InterObjectRelation&lt;LvArray_Array&lt;long, 2, camp_int_seq&lt;long, 0l, 1l&gt;, long, LvArray_ChaiBuffer&gt; &gt;" />
	</xsd:complexType>
	<xsd:complexType name="FaceManagerType">
		<xsd:choice minOccurs="0" maxOccurs="unbounded">
			<xsd:element name="neighborData" type="neighborDataType" />
			<xsd:element name="sets" type="setsType" />
		</xsd:choice>
		<!--K_IC => Critical Stress Intensity Factor :math:`K_{IC}` in the plane of the face. => SurfaceGenerator-->
		<xsd:attribute name="K_IC" type="r1_array" />
		<!--SIFonFace => Calculated Stress Intensity Factor on the face. => SurfaceGenerator-->
		<xsd:attribute name="SIFonFace" type="real64_array" />
		<!--childIndex => Index of child within the mesh object it is registered on. => SurfaceGenerator-->
		<xsd:attribute name="childIndex" type="localIndex_array" />
		<!--degreeFromCrackTip => Distance to the crack tip in terms of topological distance. (i.e. how many nodes are along the path to the closest node that is on the crack surface. => SurfaceGenerator-->
		<xsd:attribute name="degreeFromCrackTip" type="integer_array" />
		<!--deltaFacePressure => An array that holds the accumulated pressure updates at the faces. => SinglePhaseHybridFVM-->
		<xsd:attribute name="deltaFacePressure" type="real64_array" />
		<!--domainBoundaryIndicator => (no description available)-->
		<xsd:attribute name="domainBoundaryIndicator" type="integer_array" />
		<!--edgeList => (no description available)-->
		<xsd:attribute name="edgeList" type="geosx_InterObjectRelation&lt;LvArray_ArrayOfArrays&lt;long, long, LvArray_ChaiBuffer&gt; &gt;" />
		<!--elemList => (no description available)-->
		<xsd:attribute name="elemList" type="localIndex_array2d" />
		<!--elemRegionList => (no description available)-->
		<xsd:attribute name="elemRegionList" type="localIndex_array2d" />
		<!--elemSubRegionList => (no description available)-->
		<xsd:attribute name="elemSubRegionList" type="localIndex_array2d" />
		<!--faceArea => (no description available)-->
		<xsd:attribute name="faceArea" type="real64_array" />
		<!--faceCenter => (no description available)-->
		<xsd:attribute name="faceCenter" type="real64_array2d" />
		<!--faceNormal => (no description available)-->
		<xsd:attribute name="faceNormal" type="real64_array2d" />
		<!--facePressure => An array that holds the pressures at the faces. => SinglePhaseFVM, SinglePhaseHybridFVM, SinglePhaseProppantFVM-->
		<xsd:attribute name="facePressure" type="real64_array" />
		<!--faceRotationMatrix => (no description available)-->
		<xsd:attribute name="faceRotationMatrix" type="real64_array3d" />
		<!--ghostRank => (no description available)-->
		<xsd:attribute name="ghostRank" type="integer_array" />
		<!--globalToLocalMap => (no description available)-->
		<xsd:attribute name="globalToLocalMap" type="geosx_mapBase&lt;long long, long, std_integral_constant&lt;bool, false&gt; &gt;" />
		<!--gravityCoefficient => (no description available)-->
		<xsd:attribute name="gravityCoefficient" type="real64_array" />
		<!--isExternal => (no description available)-->
		<xsd:attribute name="isExternal" type="integer_array" />
		<!--isFaceSeparable => A flag to mark if the face is separable. => SurfaceGenerator-->
		<xsd:attribute name="isFaceSeparable" type="integer_array" />
		<!--localToGlobalMap => Array that contains a map from localIndex to globalIndex.-->
		<xsd:attribute name="localToGlobalMap" type="globalIndex_array" />
		<!--nodeList => (no description available)-->
		<xsd:attribute name="nodeList" type="geosx_InterObjectRelation&lt;LvArray_ArrayOfArrays&lt;long, long, LvArray_ChaiBuffer&gt; &gt;" />
		<!--parentIndex => Index of parent within the mesh object it is registered on. => SurfaceGenerator-->
		<xsd:attribute name="parentIndex" type="localIndex_array" />
		<!--primaryCandidateFace => ?? => SurfaceGenerator-->
		<xsd:attribute name="primaryCandidateFace" type="localIndex_array" />
		<!--ruptureState => Rupture state of the face: 
 0=not ready for rupture 
 1=ready for rupture 
 2=ruptured. => SurfaceGenerator-->
		<xsd:attribute name="ruptureState" type="integer_array" />
		<!--ruptureTime => Time that the object was ruptured/split. => SurfaceGenerator-->
		<xsd:attribute name="ruptureTime" type="real64_array" />
	</xsd:complexType>
	<xsd:complexType name="finiteVolumeStencilsType">
		<xsd:choice minOccurs="0" maxOccurs="unbounded">
			<xsd:element name="TwoPointFluxApproximation" type="TwoPointFluxApproximationType" />
		</xsd:choice>
	</xsd:complexType>
	<xsd:complexType name="nodeManagerType">
		<xsd:choice minOccurs="0" maxOccurs="unbounded">
			<xsd:element name="neighborData" type="neighborDataType" />
			<xsd:element name="sets" type="setsType" />
		</xsd:choice>
		<!--Acceleration => An array that holds the current acceleration on the nodes. This array also is used to hold the summation of nodal forces resulting from the governing equations. => SolidMechanicsLagrangianSSLE, SolidMechanics_LagrangianFEM-->
		<xsd:attribute name="Acceleration" type="real64_array2d" />
		<!--EmbSurfNodesPosition => (no description available)-->
		<xsd:attribute name="EmbSurfNodesPosition" type="real64_array2d" />
		<!--IncrementalDisplacement => An array that holds the incremental displacements for the current time step on the nodes. => SolidMechanicsLagrangianSSLE, SolidMechanics_LagrangianFEM-->
		<xsd:attribute name="IncrementalDisplacement" type="real64_array2d" />
		<!--Mass => An array that holds the mass on the nodes. => SolidMechanicsLagrangianSSLE, SolidMechanics_LagrangianFEM-->
		<xsd:attribute name="Mass" type="real64_array" />
		<!--ReferencePosition => (no description available)-->
		<xsd:attribute name="ReferencePosition" type="real64_array2d" />
		<!--SIFNode => Calculated Stress Intensity Factor on the node. => SurfaceGenerator-->
		<xsd:attribute name="SIFNode" type="real64_array" />
		<!--TotalDisplacement => An array that holds the total displacements on the nodes. => SolidMechanicsLagrangianSSLE, SolidMechanics_LagrangianFEM-->
		<xsd:attribute name="TotalDisplacement" type="real64_array2d" />
		<!--Velocity => An array that holds the current velocity on the nodes. => SolidMechanicsLagrangianSSLE, SolidMechanics_LagrangianFEM-->
		<xsd:attribute name="Velocity" type="real64_array2d" />
		<!--childIndex => Index of child within the mesh object it is registered on. => SurfaceGenerator-->
		<xsd:attribute name="childIndex" type="localIndex_array" />
		<!--contactForce => An array that holds the contact force. => SolidMechanicsLagrangianSSLE, SolidMechanics_LagrangianFEM-->
		<xsd:attribute name="contactForce" type="r1_array" />
		<!--degreeFromCrack => Distance to the crack in terms of topological distance. (i.e. how many nodes are along the path to the closest node that is on the crack surface. => SurfaceGenerator-->
		<xsd:attribute name="degreeFromCrack" type="integer_array" />
		<!--degreeFromCrackTip => Distance to the crack tip in terms of topological distance. (i.e. how many nodes are along the path to the closest node that is on the crack surface. => SurfaceGenerator-->
		<xsd:attribute name="degreeFromCrackTip" type="integer_array" />
		<!--domainBoundaryIndicator => (no description available)-->
		<xsd:attribute name="domainBoundaryIndicator" type="integer_array" />
		<!--edgeList => (no description available)-->
		<xsd:attribute name="edgeList" type="geosx_InterObjectRelation&lt;LvArray_ArrayOfSets&lt;long, long, LvArray_ChaiBuffer&gt; &gt;" />
		<!--elemList => (no description available)-->
		<xsd:attribute name="elemList" type="LvArray_ArrayOfArrays&lt;long, long, LvArray_ChaiBuffer&gt;" />
		<!--elemRegionList => (no description available)-->
		<xsd:attribute name="elemRegionList" type="LvArray_ArrayOfArrays&lt;long, long, LvArray_ChaiBuffer&gt;" />
		<!--elemSubRegionList => (no description available)-->
		<xsd:attribute name="elemSubRegionList" type="LvArray_ArrayOfArrays&lt;long, long, LvArray_ChaiBuffer&gt;" />
		<!--externalForce => An array that holds the external forces on the nodes. This includes any boundary conditions as well as coupling forces such as hydraulic forces. => SolidMechanicsLagrangianSSLE, SolidMechanics_LagrangianFEM-->
		<xsd:attribute name="externalForce" type="real64_array2d" />
		<!--faceList => (no description available)-->
		<xsd:attribute name="faceList" type="geosx_InterObjectRelation&lt;LvArray_ArrayOfSets&lt;long, long, LvArray_ChaiBuffer&gt; &gt;" />
		<!--ghostRank => (no description available)-->
		<xsd:attribute name="ghostRank" type="integer_array" />
		<!--globalToLocalMap => (no description available)-->
		<xsd:attribute name="globalToLocalMap" type="geosx_mapBase&lt;long long, long, std_integral_constant&lt;bool, false&gt; &gt;" />
		<!--isExternal => (no description available)-->
		<xsd:attribute name="isExternal" type="integer_array" />
		<!--localToGlobalMap => Array that contains a map from localIndex to globalIndex.-->
		<xsd:attribute name="localToGlobalMap" type="globalIndex_array" />
		<!--parentIndex => Index of parent within the mesh object it is registered on. => SurfaceGenerator-->
		<xsd:attribute name="parentIndex" type="localIndex_array" />
		<!--primaryField => Primary field variable-->
		<xsd:attribute name="primaryField" type="real64_array" />
		<!--ruptureTime => Time that the object was ruptured/split. => SurfaceGenerator-->
		<xsd:attribute name="ruptureTime" type="real64_array" />
		<!--uhatTilde => An array that holds the incremental displacement predictors on the nodes. => SolidMechanicsLagrangianSSLE, SolidMechanics_LagrangianFEM-->
		<xsd:attribute name="uhatTilde" type="r1_array" />
		<!--velocityTilde => An array that holds the velocity predictors on the nodes. => SolidMechanicsLagrangianSSLE, SolidMechanics_LagrangianFEM-->
		<xsd:attribute name="velocityTilde" type="r1_array" />
	</xsd:complexType>
	<xsd:complexType name="cellManagerType">
		<xsd:choice minOccurs="0" maxOccurs="unbounded">
			<xsd:element name="cellBlocks" type="cellBlocksType" />
			<xsd:element name="neighborData" type="neighborDataType" />
			<xsd:element name="sets" type="setsType" />
		</xsd:choice>
		<!--domainBoundaryIndicator => (no description available)-->
		<xsd:attribute name="domainBoundaryIndicator" type="integer_array" />
		<!--ghostRank => (no description available)-->
		<xsd:attribute name="ghostRank" type="integer_array" />
		<!--globalToLocalMap => (no description available)-->
		<xsd:attribute name="globalToLocalMap" type="geosx_mapBase&lt;long long, long, std_integral_constant&lt;bool, false&gt; &gt;" />
		<!--isExternal => (no description available)-->
		<xsd:attribute name="isExternal" type="integer_array" />
		<!--localToGlobalMap => Array that contains a map from localIndex to globalIndex.-->
		<xsd:attribute name="localToGlobalMap" type="globalIndex_array" />
	</xsd:complexType>
	<xsd:complexType name="cellBlocksType" />
	<xsd:complexType name="CellElementRegionType">
		<xsd:choice minOccurs="0" maxOccurs="unbounded">
			<xsd:element name="elementSubRegions" type="elementSubRegionsType" />
			<xsd:element name="neighborData" type="neighborDataType" />
			<xsd:element name="sets" type="setsType" />
		</xsd:choice>
		<!--domainBoundaryIndicator => (no description available)-->
		<xsd:attribute name="domainBoundaryIndicator" type="integer_array" />
		<!--ghostRank => (no description available)-->
		<xsd:attribute name="ghostRank" type="integer_array" />
		<!--globalToLocalMap => (no description available)-->
		<xsd:attribute name="globalToLocalMap" type="geosx_mapBase&lt;long long, long, std_integral_constant&lt;bool, false&gt; &gt;" />
		<!--isExternal => (no description available)-->
		<xsd:attribute name="isExternal" type="integer_array" />
		<!--localToGlobalMap => Array that contains a map from localIndex to globalIndex.-->
		<xsd:attribute name="localToGlobalMap" type="globalIndex_array" />
	</xsd:complexType>
	<xsd:complexType name="elementSubRegionsType">
		<xsd:choice minOccurs="0" maxOccurs="unbounded">
			<xsd:element name="default" type="defaultType" />
			<xsd:element name="WellElementRegionuniqueSubRegion" type="WellElementRegionuniqueSubRegionType" />
		</xsd:choice>
	</xsd:complexType>
	<xsd:complexType name="EmbeddedSurfaceElementRegionType">
		<xsd:choice minOccurs="0" maxOccurs="unbounded">
			<xsd:element name="elementSubRegions" type="elementSubRegionsType" />
			<xsd:element name="neighborData" type="neighborDataType" />
			<xsd:element name="sets" type="setsType" />
		</xsd:choice>
		<!--domainBoundaryIndicator => (no description available)-->
		<xsd:attribute name="domainBoundaryIndicator" type="integer_array" />
		<!--ghostRank => (no description available)-->
		<xsd:attribute name="ghostRank" type="integer_array" />
		<!--globalToLocalMap => (no description available)-->
		<xsd:attribute name="globalToLocalMap" type="geosx_mapBase&lt;long long, long, std_integral_constant&lt;bool, false&gt; &gt;" />
		<!--isExternal => (no description available)-->
		<xsd:attribute name="isExternal" type="integer_array" />
		<!--localToGlobalMap => Array that contains a map from localIndex to globalIndex.-->
		<xsd:attribute name="localToGlobalMap" type="globalIndex_array" />
	</xsd:complexType>
	<xsd:complexType name="defaultType">
		<xsd:choice minOccurs="0" maxOccurs="unbounded">
			<xsd:element name="ConstitutiveModels" type="ConstitutiveModelsType" />
			<xsd:element name="neighborData" type="neighborDataType" />
			<xsd:element name="sets" type="setsType" />
		</xsd:choice>
		<!--connectivityIndex => Connectivity index of each EmbeddedSurface.-->
		<xsd:attribute name="connectivityIndex" type="real64_array" />
		<!--domainBoundaryIndicator => (no description available)-->
		<xsd:attribute name="domainBoundaryIndicator" type="integer_array" />
		<!--edgeList => Map to the edges.-->
		<xsd:attribute name="edgeList" type="geosx_InterObjectRelation&lt;LvArray_ArrayOfArrays&lt;long, long, LvArray_ChaiBuffer&gt; &gt;" />
		<!--elementAperture => The aperture of each EmbeddedSurface.-->
		<xsd:attribute name="elementAperture" type="real64_array" />
		<!--elementArea => The area of each EmbeddedSurface element.-->
		<xsd:attribute name="elementArea" type="real64_array" />
		<!--elementCenter => The center of each EmbeddedSurface element.-->
		<xsd:attribute name="elementCenter" type="real64_array2d" />
		<!--elementVolume => The volume of each EmbeddedSurface element.-->
		<xsd:attribute name="elementVolume" type="real64_array" />
		<!--fractureElementsToCellIndices => Map to the cell elements.-->
		<xsd:attribute name="fractureElementsToCellIndices" type="localIndex_array" />
		<!--fractureElementsToRegionIndex => Map to the region cut by each EmbeddedSurface.-->
		<xsd:attribute name="fractureElementsToRegionIndex" type="localIndex_array" />
		<!--fractureElementsToSubRegionIndex => Map to the subregion cut by each EmbeddedSurface.-->
		<xsd:attribute name="fractureElementsToSubRegionIndex" type="localIndex_array" />
		<!--ghostRank => (no description available)-->
		<xsd:attribute name="ghostRank" type="integer_array" />
		<!--globalToLocalMap => (no description available)-->
		<xsd:attribute name="globalToLocalMap" type="geosx_mapBase&lt;long long, long, std_integral_constant&lt;bool, false&gt; &gt;" />
		<!--isExternal => (no description available)-->
		<xsd:attribute name="isExternal" type="integer_array" />
		<!--localToGlobalMap => Array that contains a map from localIndex to globalIndex.-->
		<xsd:attribute name="localToGlobalMap" type="globalIndex_array" />
		<!--nodeList => Map to the nodes attached to each EmbeddedSurface.-->
		<xsd:attribute name="nodeList" type="geosx_InterObjectRelation&lt;LvArray_ArrayOfArrays&lt;long, long, LvArray_ChaiBuffer&gt; &gt;" />
		<!--normalVector => Unit normal vector to the embedded surface.-->
		<xsd:attribute name="normalVector" type="r1_array" />
		<!--numEdgesPerElement => (no description available)-->
		<xsd:attribute name="numEdgesPerElement" type="localIndex" />
		<!--numFacesPerElement => (no description available)-->
		<xsd:attribute name="numFacesPerElement" type="localIndex" />
		<!--numNodesPerElement => (no description available)-->
		<xsd:attribute name="numNodesPerElement" type="localIndex" />
		<!--tangentVector1 => Unit vector in the first tangent direction to the embedded surface.-->
		<xsd:attribute name="tangentVector1" type="r1_array" />
		<!--tangentVector2 => Unit vector in the second tangent direction to the embedded surface.-->
		<xsd:attribute name="tangentVector2" type="r1_array" />
	</xsd:complexType>
	<xsd:complexType name="ConstitutiveModelsType" />
	<xsd:complexType name="FaceElementRegionType">
		<xsd:choice minOccurs="0" maxOccurs="unbounded">
			<xsd:element name="elementSubRegions" type="elementSubRegionsType" />
			<xsd:element name="neighborData" type="neighborDataType" />
			<xsd:element name="sets" type="setsType" />
		</xsd:choice>
		<!--domainBoundaryIndicator => (no description available)-->
		<xsd:attribute name="domainBoundaryIndicator" type="integer_array" />
		<!--ghostRank => (no description available)-->
		<xsd:attribute name="ghostRank" type="integer_array" />
		<!--globalToLocalMap => (no description available)-->
		<xsd:attribute name="globalToLocalMap" type="geosx_mapBase&lt;long long, long, std_integral_constant&lt;bool, false&gt; &gt;" />
		<!--isExternal => (no description available)-->
		<xsd:attribute name="isExternal" type="integer_array" />
		<!--localToGlobalMap => Array that contains a map from localIndex to globalIndex.-->
		<xsd:attribute name="localToGlobalMap" type="globalIndex_array" />
	</xsd:complexType>
	<xsd:complexType name="WellElementRegionType">
		<xsd:choice minOccurs="0" maxOccurs="unbounded">
			<xsd:element name="elementSubRegions" type="elementSubRegionsType" />
			<xsd:element name="neighborData" type="neighborDataType" />
			<xsd:element name="sets" type="setsType" />
		</xsd:choice>
		<!--domainBoundaryIndicator => (no description available)-->
		<xsd:attribute name="domainBoundaryIndicator" type="integer_array" />
		<!--ghostRank => (no description available)-->
		<xsd:attribute name="ghostRank" type="integer_array" />
		<!--globalToLocalMap => (no description available)-->
		<xsd:attribute name="globalToLocalMap" type="geosx_mapBase&lt;long long, long, std_integral_constant&lt;bool, false&gt; &gt;" />
		<!--isExternal => (no description available)-->
		<xsd:attribute name="isExternal" type="integer_array" />
		<!--localToGlobalMap => Array that contains a map from localIndex to globalIndex.-->
		<xsd:attribute name="localToGlobalMap" type="globalIndex_array" />
		<!--wellControlsName => (no description available)-->
		<xsd:attribute name="wellControlsName" type="string" />
		<!--wellGeneratorName => (no description available)-->
		<xsd:attribute name="wellGeneratorName" type="string" />
	</xsd:complexType>
	<xsd:complexType name="WellElementRegionuniqueSubRegionType">
		<xsd:choice minOccurs="0" maxOccurs="unbounded">
			<xsd:element name="ConstitutiveModels" type="ConstitutiveModelsType" />
			<xsd:element name="neighborData" type="neighborDataType" />
			<xsd:element name="sets" type="setsType" />
			<xsd:element name="wellElementSubRegion" type="wellElementSubRegionType" />
		</xsd:choice>
		<!--domainBoundaryIndicator => (no description available)-->
		<xsd:attribute name="domainBoundaryIndicator" type="integer_array" />
		<!--elementCenter => (no description available)-->
		<xsd:attribute name="elementCenter" type="real64_array2d" />
		<!--elementVolume => (no description available)-->
		<xsd:attribute name="elementVolume" type="real64_array" />
		<!--ghostRank => (no description available)-->
		<xsd:attribute name="ghostRank" type="integer_array" />
		<!--globalToLocalMap => (no description available)-->
		<xsd:attribute name="globalToLocalMap" type="geosx_mapBase&lt;long long, long, std_integral_constant&lt;bool, false&gt; &gt;" />
		<!--isExternal => (no description available)-->
		<xsd:attribute name="isExternal" type="integer_array" />
		<!--localToGlobalMap => Array that contains a map from localIndex to globalIndex.-->
		<xsd:attribute name="localToGlobalMap" type="globalIndex_array" />
		<!--nextWellElementIndex => (no description available)-->
		<xsd:attribute name="nextWellElementIndex" type="localIndex_array" />
		<!--nextWellElementIndexGlobal => (no description available)-->
		<xsd:attribute name="nextWellElementIndexGlobal" type="localIndex_array" />
		<!--nodeList => (no description available)-->
		<xsd:attribute name="nodeList" type="geosx_InterObjectRelation&lt;LvArray_Array&lt;long, 2, camp_int_seq&lt;long, 0l, 1l&gt;, long, LvArray_ChaiBuffer&gt; &gt;" />
		<!--numEdgesPerElement => (no description available)-->
		<xsd:attribute name="numEdgesPerElement" type="localIndex" />
		<!--numFacesPerElement => (no description available)-->
		<xsd:attribute name="numFacesPerElement" type="localIndex" />
		<!--numNodesPerElement => (no description available)-->
		<xsd:attribute name="numNodesPerElement" type="localIndex" />
		<!--radius => (no description available)-->
		<xsd:attribute name="radius" type="real64_array" />
		<!--topRank => (no description available)-->
		<xsd:attribute name="topRank" type="integer" />
		<!--topWellElementIndex => (no description available)-->
		<xsd:attribute name="topWellElementIndex" type="localIndex" />
		<!--wellControlsName => (no description available)-->
		<xsd:attribute name="wellControlsName" type="string" />
	</xsd:complexType>
	<xsd:complexType name="wellElementSubRegionType">
		<xsd:choice minOccurs="0" maxOccurs="unbounded">
			<xsd:element name="neighborData" type="neighborDataType" />
			<xsd:element name="sets" type="setsType" />
		</xsd:choice>
		<!--domainBoundaryIndicator => (no description available)-->
		<xsd:attribute name="domainBoundaryIndicator" type="integer_array" />
		<!--ghostRank => (no description available)-->
		<xsd:attribute name="ghostRank" type="integer_array" />
		<!--globalToLocalMap => (no description available)-->
		<xsd:attribute name="globalToLocalMap" type="geosx_mapBase&lt;long long, long, std_integral_constant&lt;bool, false&gt; &gt;" />
		<!--isExternal => (no description available)-->
		<xsd:attribute name="isExternal" type="integer_array" />
		<!--localToGlobalMap => Array that contains a map from localIndex to globalIndex.-->
		<xsd:attribute name="localToGlobalMap" type="globalIndex_array" />
		<!--location => (no description available)-->
		<xsd:attribute name="location" type="r1_array" />
		<!--numPerforationsGlobal => (no description available)-->
		<xsd:attribute name="numPerforationsGlobal" type="globalIndex" />
		<!--reservoirElementIndex => (no description available)-->
		<xsd:attribute name="reservoirElementIndex" type="localIndex_array" />
		<!--reservoirElementRegion => (no description available)-->
		<xsd:attribute name="reservoirElementRegion" type="localIndex_array" />
		<!--reservoirElementSubregion => (no description available)-->
		<xsd:attribute name="reservoirElementSubregion" type="localIndex_array" />
		<!--wellElementIndex => (no description available)-->
		<xsd:attribute name="wellElementIndex" type="localIndex_array" />
		<!--wellTransmissibility => (no description available)-->
		<xsd:attribute name="wellTransmissibility" type="real64_array" />
	</xsd:complexType>
</xsd:schema>
